<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Genres</title>
</head>
<body>
  <h3>Genres</h3>
  <% @genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"> <%= genre.name %></a></li>
  <% end %>
</body>
</html>