<!DOCTYPE HTML>
<html>
  <head>
    <title>Genres</title>
  </head>
  <body>
    <h1>List of Genres</h1>
    <br>
    <h4>Click on a Genre to see its songs and artists</h4>
    <ul>
      <% @genres.each do |genre| %>
        <li><a href="/genres/<%= genre.slug %>"><%=genre.name%></a></li>
      <% end %>
    </ul>
  </body>
</html>
