<<<<<<< HEAD
<h1>All Genres: </h1>
=======
<h1>All Genres</h1>
>>>>>>> 4d182c90dc53a0b783e58a4e9487a2f8114fc339
<h6>views/genres/index.erb</h6>

<% @genres.each do |genre| %>
<a href="/genres/<%=genre.slug%>">
  <h3>Genre name: <%= genre.name %></h3>
</a>
<hr>
<% end %>
