<h1>All Genres</h1>

<% @genres.each do |genre| %>
  <div class="genre">
    <h3>Genre Title: <%= genre.name %></h3>
    <ul>
      <li><a href="/genres/<%= genre.slug %>">Genre Page</a></li>
    </ul>
  </div>
<% end %>
