<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Genres List</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1> Genres </h1>
  <% if @genres.size > 0%>
    <% @genres.each do |genre| %>
      <a href="http://138.197.214.116:30005/genres/<%=artist.id%>"><%=genre.name%></a><br>
    <% end %>
    <br><br><a href="http://138.197.214.116:30005/genres/new">Add A New Genre</a><br>
  <%else%>
  <h2>There are no genres to display!</h2>
  <%end%>
 </body>
</html>
