<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genres Page</title>
  </head>
  <body>
    <ul>
      <% @genres.each do |g| %>
        <li><a href="/genres/<%=g.slug%>"><%= g.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
