<h1>All Genres</h1>
<h6>views/genres/index.erb</h6>
<a href="/"><p>Main Page</p></a>
<hr>

<ol style="list-style: none">
<% @genres.each do |genre| %>
<li><a href="/genres/<%=genre.slug%>">
  <h3>Genre name: <%= genre.name %></h3>
</a>
</li>
<hr>
<% end %>
</ol>
