<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Genre index</h2>
    <ul>
      <% Genre.all.each do |genre| %>
        <li><a href="/genres/<%=genre.slug%>"><%= genre.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
