<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome</h1>
    <%@genres.each_with_index do |genre,i|%>
      <h3><%=i%>.<%=genre.name%></h3>
      <h4><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></h4>
    <%end%>
  </body>
</html>