<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Genres</title>
  </head>
  <body>
    <h1>Genres Index</h1>
    <ul>
    <%@genres.all.each do |genre|%>
      <li><a href="/genres/<%=genre.slug%>"><%="#{genre.name}"%></a></li>
    <%end%>
  </ul>
  </body>
</html>