<!DOCTYPE html>
<html>
<header>
</header>
<body>
  <h1>Genres</h1>
  <% @genres.sort {|a,b| a[:name]<=>b[:name]}.each do |genre| %>
    <a href='/genres/<%= genre.slug %>'><%= genre.name %></a> <br>
  <% end %>
</body>
</html>
