<h2>Genres</h2>

<% @genres.each do |genre| %>
<h3><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></h3>
<p><strong>Songs:</strong>
  <% genre.songs.each do |song| %> <%= song.name %>, <% end %>
</p>
<p><strong>Artists:</strong>
  <% genre.artists.each do |artist| %> <%= artist.name %>, <% end %>
</p>
<hr>
<% end %>