<% @genres.each do |genre| %>
<<<<<<< HEAD
<li><a href="/genres/<%= genre.slug%>"> <%= genre.name %> </a></li>
=======
  <li> <a href="/genres/<%= genre.slug %>"> <%=genre.name%> </a></li>
>>>>>>> 1f9fad4566e7bea66933d1080285aea037651e86
<% end %>
