<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <ul>
      <% @genres.each do |genre| %>
      <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
