<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Genres</h1>

    <% @genres.each do |genre| %>
      <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
    <% end %>
  </body>
</html>
