<h1>Genres</h1>

  <% @genres.each do |g| %>
    <h2><a href="/genres/<%=g.slug%>"><%= g.name %></h2>
      <% g.songs.each do |s| %>
      <ul>
        <li><a href="/songs/<%=s.slug%>"><%= s.name %></a>      
      </ul>
    <% end %>
  <% end %>