<h1>All Genres Page</h1>
<%@genres.each.with_index(1) do |genre, i|%>
<h3><%="#{i}."%><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></h3>
<%end%>

<h5><a href="/songs">Return to all Songs</a><h5>  
