<h1><a href="/">Home</a> > <a href="/genres">Genres</a></h1>

<% @genres.each do |genre| %>
<a href="/genres/<%= genre.slug %>" class="list-item"><img src="/images/arrow.png"/><span><%= genre.display_name %></span></a>
<% end %>
