<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Genres Show Page</title>
</head>
<body>
  <h1>Genres</h1>
  <% Genre.all.each_with_index do |genre, i| %>
  <%= "#{i+1}. " %>
  <a href="/genres/<%=genre.slug%>">
    <%= genre.name %></a><br>
  <% end %>
</body>
</html>