<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genres</title>
    <h1>Genres Index</h1>
  </head>
  <body>
    <% @genres.each do |genre| %>
      <p><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></p>
    <% end %>
  </body>
</html>
