<!DOCTYPE HTML>
<html>

  <h1><header>Genres</header></h1>
  <body>
  <ol>
    <% @genres.each do |genre| %>
    <li>
    <a href="/genres/<%=genre.slug%>"><%= genre.name %></a>
    </li>
    <% end %>
  </ol>
  </body>
</html>
