<ul>
  <% @genres = Genre.all.sort_by {|gen| gen.name} %>
  <% @genres.each do |genre| %>
    <li>
      <a href="/genres/<%= genre.slug %>">
        <%= genre.name %>
      </a>
    </li>
  <% end %>
</ul>
