<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <div style="margin:5%">
    <h1>Create a New Song and Artist</h1>

    <form method="POST" action="/songs">
      <p><label style="margin-right:3%">Name</label> <input type="text" name="Name" id="Name"></p>
      <p><label style="margin-right:1%">Artist Name</label><input type="text" name="artist_name" id="artist_name"/></p>
      <input type="submit" value="submit">
    </form>
  </div>
  </body>
</html>
