<ul>
    <% genre.songs.each do |song| %>
      <li><a href="/genres/<%= song.slug %>"><% song.name %></a></li>
      <% end %>
</ul>

<ul>
    <% genre.artists.each do |artist| %>
      <li><a href="/genres/<%= artist.slug %>"><% artist.name %></a></li>
     <% end %>
</ul>