<%@genre.name%>

<%@genre.artists.each do |artist|%>
 <!-- contains links to each artist's show page (FAILED - 4) -->

<li>  Genre Artist <a href="/artists/<%=artist.slug%>"><%=artist.name%></a></li>

<%end%>

<%@genre.songs.each do |song|%>
<li>Song <a href="/songs/<%=song.slug%>"><%=song.name%></a></li>
 <%end%>

 <!-- may not be the same but ... very similar...
  genre.slug => "that-one-with-the-guitar" -->
<!-- genre.name => "That One with the Guitar" --> 
