<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @genre.artists.each do |artist| %>
      <a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
    <% end %>
    <br><br>
    <% @genre.songs.each do |song| %>
      <a href="/songs/<%= song.slug %>"><%= song.name %></a>
    <% end %>
  </body>
</html>
