<%@genre.artists.each do |artist|%>
<%= artist.name %>
<a href='/artists/<%=artist.slug%>'
<%end%>

<%@genre.songs.each do |song|%>
<h2><%= song.name %></h2>
<h2><a href='/songs/<%=song.slug%>'</h2>
<% end %>
