<% @genres.songs.each do |song| %>
<a href ="/genres/<% song.slug %>"><%= song.name %></a>
<% end %>
<br>
<br>
<% @genre.artists.each do |artist| %>
<a href ="/genres/<% artist.slug %>"><%= artist.name %></a>
<% end %>
