<h1><title>Genres Collection</title></h1>

<ul>
<%@genre.songs.each do |song|%>
  <h3><li><a href='/songs/<%=song.slug%>'><%=song.name%></li></h3>
<%end%>
</ul>

<ul>
  <%@genre.artists.each do |artist|%>
    <h3><li><a href="/artists/<%=artist.slug%>"><h3><%= artist.name %> </a></h3></li>
  <% end %>
</ul>
