<h3> Artists: <% @genre.artists.each do |artist| %>
              <a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
              <% end %>
              <br>
              <br>
    Songs:    <% @genre.songs.each do |song| %>
              <a href="/songs/<%= song.slug %>"><%= song.name %></a>
              <% end %>
</h3>
