<h1>All Genres</h1>

<%@genres.each do |genre| do %>
<li> <a href="/genres/<%=genre.slug%>"></a><%=genre.name%></li>
<%end%>


<!-- # <%@artists.each do |artist| %>
# <li><a href="/artists/<%=artist.slug%>"</a><%=artist.name%></li>
# <%end%> -->
