<% @genre.artists.each do |artist| %>
    <a href="/artists/<%=artist.slug%>"><p><%= artist.name %></p></a>
<% end %>

<% @genre.songs.each do |song| %>
    <a href="/songs/<%=song.slug%>"><p><%= song.name %></p></a>
<% end %>