<<<<<<< HEAD

<%@artists.each do |artist|%>
 <a href = '/artists/<%=artist.slug%>'> <%=artist.name%> </a></br>
<%end%>
=======
this is my artist controller
>>>>>>> 31bc399aeb5ccc61d83c97555580df005ff68274
