<h1>Artist Index</h1>
<ol> <% @artists.each do |artist| %>
  <li>
    <a href="/artists/<%= artist.slug %>">
      <%= artist.name %>
    </a>
  </li>
<% end %>
</ol>

<a href="/">Click here to go back to the homepage</a>
