<h1>Artists:</h1>

<%@artists.each do |artist|%>
  <li><a href="/artists/<%=artist.slug%>"><%= artist.name %></a></li>
<%end%><br>

<a href="/songs"><input type="submit" value="Home Page"></a>
<br><br>
