<% @artists.each do |artist| %>
  <h1><%= artist.name %></h1>
  <a href='/artists/<%="#{artist.slug binding.pry}"%>'><p>Artist's Songs and Genres</p></a><br>
<% end %>
<!-- that-one with the guitar" -->
