<h2>List of Artists & Songs</h2>

<%Artist.all.each do |artist|%>
  <h3><a href="/artists/<%=artist.slug%>"><%=artist.name%></a></h3>
    <li>
      <%artist.songs.each do |song|%>
        <a href="/songs/<%=song.slug%>"><%=song.name%></a><br>
      <%end%>
    </li>
