<!DOCTYPE HTML>
<html>

  <h1><header>Artists</header></h1>
  <body>

    <% @artists.each do |artist| %>
    <a href="/artists/<%=artist.slug%>"><%= artist.name %></a>
    <% end %>

  </body>
</html>
