<% Artist.all.each do |artist| %>
  <h3><strong style="color: blue">Artist Name:</strong> <%= artist.name %></h3>
  <% artist.songs.all.each do |song| %>
    <p><strong style="color: red">Song Name:</strong> <%= song.name %></p>
  <% end %>
  <% artist.genres.all.each do |genre| %>
    <p><strong style="color: green">Genre:</strong> <%= genre.name %></p>
  <% end %>
  <a href='/artists/<%= artist.slug %>'>Show Artist</a>
<% end %>
