<h2>List of all artists</h2>
<% @artists.each do |artist| %>
<h3><%=artist.id%>. <%=artist.name%></h3>
<h3><a href="/artists/<%=artist.slug%>">Artist Page</a></h3>
<h3>--------------------------------------</h3>
<% end %>
