<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">The Playlister</a>
  <ul class="nav nav-pills">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/artists">Artists <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/genres">Genres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/songs">Songs</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="starter-template">
    <h1>List of Artists</h1>
      <% @artists.each do |artist| %>
      <p><a href="/artists/<%=artist.slug%>"><%= artist.name %></a></p>
      <% end %>
    </div>
  </div>
</div><!-- /.container -->
