<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%Artist.all.each do |artist|%>
      <a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
    <%end%>

  </body>
</html>
