<!DOCTYPE html>
<html>
<header>
</header>
<body>
  <h1>Artists</h1>
  <% @artists.sort {|a,b| a[:name]<=>b[:name]}.each do |artist| %>
    <a href='/artists/<%= artist.slug %>'><%= artist.name %></a> <br>
  <% end %>
</body>
</html>
