<% if !@artists.blank? %>
  <ol>
    <% @artists.each do |artist|  %>
    <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
    <% end %>
  </ol>
<% else %>
  <h2>You have no artists yet.</h2>
<% end %>
