<div>
<h1>All Artists</h1>
<h6>views/artists/index.erb</h6>
<<<<<<< HEAD
<a href="/"><p>Main Page</p></a>
<hr>

</div>
<ol style="list-style:none">
=======

>>>>>>> 047bf3d62ac8296d6ea8d172e3e45af8834d13d4
<% @artists.each do |artist| %>
<li>
<a href="/artists/<%=artist.slug%>">
  <h3>Artist name: <%= artist.name %></h3>
</a>
</li>
<hr>
<% end %>
</ol>
