<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artists Page</title>
  </head>
  <body>
    <h1>Welcome to the artists page!</h1>

    <% Artist.all.each do |artist| %>
      <a href="/artists/<%= artist.slug %>"><%= artist.name %></a>
      <br>
    <% end %>

  </body>
</html>
