<h1><a href="/">Home</a> > <a href="/artists">Artists</a></h1>

<% @artists.each do |artist| %>
  <a href="/artists/<%= artist.slug %>" class="list-item"><img src="/images/arrow.png"/><span><%= artist.display_name %></span></a>
<% end %>
