<h1>All Artists</h1>
<%@artists.each.with_index(1) do |artist, i|%>
<h3><%="#{i}."%><a href="/artists/<%=artist.slug%>"><%=artist.name%></a></h3>
<%end%>
<h5><a href="/songs">Return to all Songs</a><h5>  
