<!DOCTYPE html> 
<html>
  <head>Artist Index</head>
  <body>
  <h1>Artis List</h1>
    <ul>
      <% @artists.each do |artist| %>
        <li><a href= "/artists/<%= artist.slug %>"><%= artist.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>