<h1>Playlister List of Artists</h1>

<ul>
  
  <%@artists.each do |artist|%>
<<<<<<< HEAD
    <h5><li><a href='/artists/<%=artist.slug%>'><%=artist.name%></a></li></h5>
=======
    <h3><li><a href='/artists/<%=artist.slug%>'><%=artist.name%></a></li></h3>
>>>>>>> bf6aa8f0547729f2bde3dd5f9ef57f8848025a9a
  <%end%>
  
</ul>