 <% Artist.all.each do |artist| %>
  <h2>Artist Name: <%= artist.name %></h2>

  <% artist.songs.all.each do |song| %>
    <p>Song Name: <%= song.name %></p>
  <% end %>

  <% artist.genres.all.each do |genre| %>
    <p>Genre: <%= genre.name %></p>
  <% end %>
  
  <a href='/artists/<%= artist.slug %>'>Show Artist</a>
<% end %>
