<h1>Artists <a style="font-size: 14px" href="/songs/new">(add song)</a></h1>

<% @artists.each do |artist| %>
  <ul>
    <li><%= artist.name %> <a href="/artists/<%= artist.slug %>">(link)</a></li>
  </ul>
<% end %>
