<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @artists.each do |artist| %>
      <h1><%= artist.name %></h1>
      <h2><a href="/artists/<%=artist.slug%>">Link</a>
    <% end %>
  </body>
</html>
