<h1>Artists Index</h1>
<h4>Click on an Artist to visit their homepage:</h4>
<ul>
<% Artist.all.each do |artist| %>
  <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
<% end %>  
</ul>
<br></br>
<h5>Other Indexes:</h5>
<ul>
  <li><a href="/">Playlister Home</a></li>
  <li><a href="/songs">Song Index</a></li>
  <li><a href="/genres">Genre Index</a></li>
</ul>  
