<h1>All Artists</h1>
<h6>views/artists/index.erb</h6>
<<<<<<< HEAD

=======
<%binding.pry%>
>>>>>>> 4d182c90dc53a0b783e58a4e9487a2f8114fc339
<% @artists.each do |artist| %>
<a href="/artists/<%=artist.slug%>">
  <h3>Artist name: <%= artist.name %></h3>
</a>
<hr>
<% end %>
