<% @artists.each do |artist| %>
<<<<<<< HEAD
   <li><a href="/artists/<%= artist.slug %>"> <%= artist.name %></a></li>
  <% end %>
=======
  <li> <a href="/artists/<%= artist.slug %>"> <%=artist.name%> </a></li>
<% end %>
>>>>>>> 1f9fad4566e7bea66933d1080285aea037651e86
