<html>
<head>
  <title>Artists</title>
 </head>

<body>

<h1>Artists</h1>
  <% @artists.each do |artist| %>
  <ul><a href='/artists/<%= artist.slug %>'> <%= artist.name %> > </a></ul>
  <% end %>

</body>





</html>
