<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Artist index</h2>
    <ul>
      <% Artist.all.each do |artist| %>
        <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
=======
<h2>Artist index</h2>
<ul>
  <% Artist.all.each do |artist|%>
  <li><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></li>
  <% end %>
</ul>
>>>>>>> 19267d145817a0a775bfacdb683856257c6235f7
