<h1>New Artist</h1>
<form action="/artists" method="post">
	<label for="Name">
		<input type="text" id="Name" name="name">
	</label>
	<label for="add_artist"><input type="submit" name="add_artist" value="Add artist"></label>
</form>