<h1>Create an Artist</h1>
<form method="POST" action="/artists">
    <label for="name">Name:</label>
    <input type="text" id="Name" name="artist[name]">

    <input type="submit" value="Create Artist">
</form>