<html>
  <%@artist.genres.each do |n|%>
    <p><a href="/genres/<%=n.slug%>">Genre: <%=n.name%></p></a>
  <%end%>
  <%@artist.songs.each do |n|%>
    <p><a href="/songs/<%=n.slug%>"> Song: <%=n.name%></p>
  <%end%>
</html>
