<h1><%= @artist.name %></h1>
<h3>Artist Data</h3>
<ul>
  <li>Songs: <%= @artist.songs.map {|song| "<a href='/songs/#{song.slug}'>#{song.name}</a>"}.join(', ') %></li>
  <li>Genres: <%= @artist.genres.map {|genre| "<a href='/genres/#{genre.slug}'>#{genre.name}</a>"}.join(', ') %></li>
</ul>
