<h1>All Songs by <%= @artist.name %>:</h1>
<br>

<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <a href='/songs/<%song.slug%>'><%= song.name %></a>
    </li>
  <% end %>
</ul>

<br><br>

<h1>All <%= @artist.name %>'s Genres:</h1>
<br>
<ul>
  <% @artist.genres.each do |genre| %>
    <li>
      <%= genre.name %>
    </li>
  <% end %>
</ul>