<h1>Artist's Page</h1>

<ul>
  <% @artist.songs.each do |song| %>
    <li><a href="/songs/<%= song.slug %>"></a><%= song.name %></li>
  <% end %>
</ul>

<ul>
  <% @artist.genres.each do |genre| %>
    <li><a href="/genres/<%= genre.slug %>"></a><%= genre.name %></li>
  <% end %>
</ul