<h1>Artist Name: <%=@artist.name%></h1>
<h3>Artist Songs:
  <% @artist.songs.each do |song| %>
    <%= song.name %>
  <%end%>
</h3>
<h3>Artist Genres:
  <% @artist.genres.each do |genre| %>
    <%= genre.name %>
  <%end%>
</h3>
 
