<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <% @songs.each do |song| %>
      <a href="/songs/<%= song.slug %>"><%= song.name %></a> -
      <% song.genres.each do |genre|%>
        <a href="/genres/<%= genre.slug %>"><%= genre.name%></a>
        <%end %>
      <br>
    <% end %>
  </body>
</html>
