
<h1>Show Specific Artist</h1>


<p>Artist Attributes : <%= @artist.attribute_names %></p>
<p>Song_Genre Attributes : <%= @song_genres.attribute_names %></p>


<form action="/artists/<%= @artist.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
