<a href="/artists/<%=@artist.slug%>"><%=@artist.name%></a>

  <% @songs.each do |song|%>
 <%@genres = song.song_genres%>

      <%@genres.each do |g|%>
      <%genre = Genre.all.find(g.id)%>
      <a href='/genres/<%=genre.slug%>'><%= genre.name%></a>

      <%end%>
  <%end%>
