<%@artist.name%>

<!-- #we gave the name a link in the show page -->
<%@artist.songs.each do |song|%>
<li>Song Title <a href="/songs/<%=song.name%>"><%=song.name%></a></li>
 <%end%>

<%@artist.genres.each do |genre|%>
<li> Genre Name <a href="/genres/<%=genre.slug%>"><%=genre.name%></a></li>
 <%end%>
