<h1>Artist Show</h1>

<%= @artist.name %>

<a href="#"><%= @artist.genre.name %></a>

<ul class="artist-songs">
  <% @artist.songs.each do |song| %>
    <a href="#"><%= song.name %></a>
  <% end %>
</ul>
