<%Song.all.select do |song|%>
  <% song.artist_id === @artist.id %>
  <a href="/songs/<%=song.slug%>"><%= song.name%></a>
    <% song.songs_genres.each do |genre| %>
      <% @g = Genre.find(genre.genre_id) %>
      <a href="/genres/<%=@g.slug%>"><%= @g.name %></a>
    <% end %>
<%end%>
