successful link

<h2> Songs </h2>
    <% @artist.songs.each do |song| %> 
<h3><a href="/songs/<%=song.slug%>"><%=song.name%></a></h3> 
<% end %>

<br>


<h2> Genres </h2>
  <% @artist.genres.each do |genre| %> 
<h3><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></h3> 
<% end %>


<!-- 
    it "contains links to each song's show page" do
        expect(page).to have_css("a[href='/songs/#{@song.slug}']")
      end

      it "contains links to each genre's show page" do
        expect(page).to have_css("a[href='/genres/#{@genre.slug}']")
      end
      end -->