<% @artist.name %>

<% @artist.songs.each do |s| %>
  <p><a href="/songs/<%= s.slug %>"> <%= s.name %></a></p>
<% end %>

<% @artist.genres.each do |g| %>
  <p><a href="/genres/<%= g.slug %>"> <%= g.name %></a></p>
<% end %>