<%@artist.genres.each do |genre|%>
<p><%="#{genre.name}"%></p>
<a href="/genres/<%=genre.slug%>">Genre Page</a>
<%end%><br>
<%@artist.songs.each do |song|%>
<p><%="#{song.name}"%></p>
<a href="/songs/<%=song.slug%>">Song Page</a>
<%end%>
