
<h1>Edit a Song</h1>
<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h1>Name: <%=@song.name%></h1>
   <br></br>
  <h2>Artist: <%=@song.artist.name%></h2>
  <label>New Artist:</label>
   <br></br>
   <input type="submit" value="Save">
   </form>
