<h1>Edit a Song</h1>

<form method="POST" action="/songs/:slug" >

    <label>Artist:</label>
      <input type="text" name="artist_name" id="Artist Name"></input>
    <br></br>

    <%Genre.all.each do |genre|%>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%='checked' if genre.id == song_genres.genre_id %>><%=pet.name%></input>
    <%end%>

  <input type="submit" value="Save">
</form>
