<h4> songs/edit</h4>


<% @song %>

<form method="POST" action="/songs/<%= @song.id %>/delete">
  <label for=""> Song: </label>
  <p>
  <textarea name="content" id=":content" rows="" cols="40">
  <%= @song.name %>
  </textarea>
  </p>
  </br>
  </br>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id= "click_button" value="Delete Song">
</form>
</br>
</br>
<a href="/songs/<%= @song.id %>/edit"> Edit Song </a>
</br>
</br>
<a href="/songs/index">View All Songs</a>
