<form method="POST" action="/songs/<%= @song.slug %>/edit">
  New Artist: <input type="text" name="artist_name" id="Artist Name">
  <input type="submit" id="Save">
</form>
<%= flash[:message] if flash[:message] %>
