<!DOCTYPE HTML>
<html>
  <head>
    <title>Change the New Song</title>
  </head>
  <body>
    <h1>Change the New Song</h1>

    <form method="post" action="/songs/<%=@song.slug%>">
      <label for="artist_name">Artist Name:</label>
      <input type="text" name="artist[name]" id="Artist Name">
      <br><br>

      <label for="song_name">Song Name:</label>
      <input type="text" name="Name">
      <br><br>

      <label for="genre_name">Genres:</label>
      <% Genre.all.each do |genre| %>
        <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre) %>
      <% end %>
      <br><br>

      <input type="submit" value="Save">
    </form>
  </body>
</html>
