<h1>Update Song</h1>

<form action="/songs" method="POST">

  <br></br>
  <label>Artist name:</label>
    <input type="text" name="Artist Name" id="Artist Name"></input>
  <br></br>
  <input type="submit" value="Save">
</form>
