<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>"Song edit landing page"</h2>

	<form action="/songs/<%=@song.slug%>" method="patch">
		<input type="hidden" name="_method" id="hidden" value="patch">
		<p>Artist name: <input type="text" name="song[artist]" id="Artist Name"></p>
		<%@genres.each do |genre| %>
		<%=genre.name%> <input id="<%=genre.name%>" type="checkbox" name="genres[]" value=<%=genre.id%>>
	
	
		<% end %>


		<input type="submit" name="Save" value="Save">

	</form>

</body>
</html>