<h1>Edit <%=@song.name%>

</h1><form action="/song/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="artist_name">Artist Name</label>
<input type="text" name="artist[name]" value="<%= @song.artist %>" id="artist_name"></br>


  <input type="submit" value="Create">
</form>
