<h1>Update your song below</h1>

<form action="/songs" method="POST">

  <label>Artist Name</label>

  <br></br>

  <input type="text" name="artist[name]" id="Artist Name" >

  <br></br>
  <input type="submit" value="Save">
</form>