<h1>Edit song</h1>

<form action="/songs/<%= @song.slug %>" method="post">

  Artist Name: <input type="text" name="Artist Name"></br>

  Song Name: <input type="text" name="Name"></br>

  Genres:
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %>
  <% end %>

  <input type="submit" value="Save">
</form>