<h1>Edit song: </h1>
<form action="/songs/<%=song.slug%>" method="post">
  Name: <input type="text" name="song[name]" id="Name">
  <br></br>
  <label>Genres: </label></br>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input></br>
  <%end%>
  Update Artist: <input type="text" name="artist[name]" id="Artist Name">
  <br></br>
  <input type="submit" value="Save">
</form>
