<form action="/songs/:slug"<%= @song.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="">Name</label>
    <input type="text" name="name"> value="<%= @song.name %>"
    <label for="">Artist</label>
    <input type="text" name="Artist Name">
    <label for="">Genre</label>
    <% @genres.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>

    <input id="Edit" type="submit">
</form>
