<form action ="/songs/<%=@song.id%> method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="song_name">
  <input type="text" name="artist.name">
  <input type="submit" value="genre_name">
  </form>
