<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Songs</title>
</head>
<body>
  <h1>Songs</h1>
    <% @songs.to_a.sort_by! {|song| song.name} %>
    <% @songs.each do |song| %>
      <a href="/songs/<%= song.slug %>"><%= song.name %></a><br>
    <% end %>
</body>
</html>