<h1> Songs </h1>

<%@songs.each do |song|%> <!--how would you sort this?-->
  <h2><a href="/songs/<%= song.slug %>"> <%= song.name %></a></h2> <!--...apparently comments beneat break this.-->
<%end%>
