<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Song List</title>
  </head>
  <body>
    <h1>Select Song</h1>
    <ul>
      <% @songs.each do |song| %>
      <li><a href="/songs/<%= song.slug %>"><%= song.name %></a></li>
      <% end %>
    </ul>
  </body>
</html>
