<h2 class="f2">Songs</h2>
<% @songs.each do |song| %>
  <div class="pa1 lh-copy">
    <a class="f4 fw6 db black link hover-hot-pink" href="/songs/<%= song.slug %>"><%= song.name %></a>
  </div>
<% end %>
