<!DOCTYPE html>
<html>
<head>
  <title>Songs</title>
</head>
  <body>
    <h1>List of Songs</h1>

    <br>

    <h3>Click on a Song to see artists and genres</h3>
      <ul>
        <% @songs.each do |song| %>
          <li><a href="/songs/<%= song.slug %>"><%=song.name%></a></li>
        <% end %>
      </ul>
  </body>
</html>