<h1>Song List</h1>
<% Song.all.each do |song| %>
  Song Name: <%= song.name %>
  <% @artist = Artist.find_by(id: song.artist_id) %>
  Artist Name: <%= @artist.name %>
  <% song.genres.each do |genre| %>
  Genre Name: <%= genre.name %>
  <% end %>
<% end %>
  