<h1>All Songs</h1>
<table>
    <thead>
        <tr>
            <th><h4>Song Name</h4></th>
            <th><h4>Artist</h4></th>
            <th><h4>Edit</h4></th>
        </tr>
    </thead>
    <tbody>
    	<% @songs.uniq.each do |song| %>
        <tr>
            <td><a href="/songs/<%= song.slug %>"><%= song.name %></a></td>
            <td><%= song.artist.name %></td>
            <td><a href="/songs/<%= song.slug %>/edit">Edit</a></td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<a href="/songs/new"><input type="button" value="Add a New Song"></a>

