<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @song.each do |song| %>
      <a href="#"> <%= song.name %></a>
      <%end%>

  </body>
</html>
