<!DOCTYPE html>
<html>
<head>
  <title>Songs</title>
</head>
<body>
  <h1>All Songs:</h1>
  <% @songs.each_with_index do |song,id| %>
    <a href="/songs/<%=song.slug%>"><%=id+1%>. <%=song.name%></a><br>
  <% end %>
</body>
</html>