<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">The Playlister</a>
  <ul class="nav nav-pills">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/artists">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/genres">Genres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/songs">Songs <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="starter-template">
    <h1>List of Songs</h1>
      <p><a href="/songs/new">- Add New Song -</a></p>
      <% @songs.each do |song| %>
      <p><a href="/songs/<%=song.slug%>"><%= song.name %></a></p>
      <% end %>
    </div>
  </div>
</div><!-- /.container -->
