<DOCTYPE! html>
<html>
  <head>
    <title> Welcome to Playlister! </title> 
  </head>

  <body>
    <h1>Welcome to Playlister!</h1>
    <h3> Here is a list of songs available in our library. Click on the link for more information!</h3>

    <% @songs.all.each do |song|%>
      <a href="/songs/<%= song.slug %>"><%= song.name %></a>
      <br>
      
    <%end%> 
    
  </body>

</html>

