<h1><a href="/">Music</a> > <a href="/songs">Songs</a></h1>

<% @songs.each do |song| %>
  <a href="/songs/<%= song.slug %>" class="list-item"><img src="/images/arrow.png"/><span><%= song.display_name %></span></a>
<% end %>
