<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome</h1>
    <%@songs.each_with_index do |song,i|%>
      <%binding.pry%>
      <h3><%=i%>.<%=song.name%></h3>
      <h4><a href="/songs/<%=song.slug%>"><%=song.name%></a></h4>
    <%end%>
  </body>
</html>
