<!DOCTYPE html>
<html>
<head>
  <title>Songs Index Page</title>
</head>
<body>
  <h2>Song Index Page</h2>
  <br></br>
  <% if @songs == nil %>
    <p>There are no songs to display!</p>
  <% else %>
    <% @songs.each do |song| %>
      <h2><a href="/songs/<%= song.slug %>"><%= song.name %></a></h2>
      <br></br>
    <% end %>
  <% end %>
</body>
</html>