<h1>Welcome To Sinatra Playlister!</h1>

<p> Click to
<a href="/songs/new"><input type="submit" value="Add Song"></a>
<a href="/artists"><input type="submit" value="See Artists"></a>
<a href="/genres"><input type="submit" value="See Genres"></a></p>




<h1>Songs:</h1>

<% @songs.each do |song| %> 
  <li><a href="/songs/<%= song.slug %>"><%= song.name %> </a></li>
<% end %>