<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h1>SONGS</h1>

    <% Song.all.each do |s| %>
      <li><a href="/songs/<%=s.slug%>"><%= s.name %></a></li>
    <% end %>
  
  </body>
</html>