<%@songs.each do |song|%>
    <h2><a href="/songs/<%=song.slug%>"><%=song.name%></a></h2>
    <ul>
    <%song.genres.each do |genre|%>
    <li><%=genre.name%></li>
    <%end%>
    </ul>
    

    
<%end%>
