<h1>Check out all of these tunes!</h1>
<div class="song-list">
  <ul>
    <% @songs.each do |song| %>
    <a href="/songs/<%=song.slug%>"> <!-- link to songs show page -->
      <div class="song-info">
       <h2 class="song_name"><%= song.name %></h2>
       <h4>By: <%= song.artist.name %></h4>
      </div>
      <ul class="genres">
        <% song.song_genres.genre.each do |g| %>
          <li class="genre-list"><%= g.name %></li>
        <%end%>
      </ul>
    </a>
    <%end%>
  </ul>
</div>
