<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Here is a list of all available songs:</h1>
	<%@songs.each do |song| %>
	<h2>Song name: <%=song.name%>  <a href="/songs/<%=song.slug%>">Link to song</a></h2>
	<% end %>

</body>
</html>