
<h1>List of Songs</h1>

  <%Song.all.each do |i|%>
    <h3>
      <a href="/songs/<%=i.slug%>"><%=i.name%></a><br>
    </h3>
        <li><%i.genres.each do |i|%>
            <a href="/genres/<%=i.slug%>"><%=i.name%></a><br>
          <%end%>
        </li>
  <%end%>
