
<h1>List of Songs</h1>
  <%Song.all.each do |i|%>
    <a href="/songs/<%=i.slug%>"><%=i.name%></a><br>
    <%i.genres.each do |i|%>
      <a href="/genres/<%=i.slug%>"><%=i.name%></a><br>
    <%end%>
  <%end%>
