<!DOCTYPE HTML>
<html>
<head>
  <title>All Songs</title>
</head>
<body>
  <h2>This are all the songs in the PlayList</h2>
  <% @songs.each do |song|%>
  <a href="/songs/<%=song.slug%>"></a>
  <%end%>
</body>
</html>
