<!DOCTYPE html>
<html>
  <head>
    <title>Songs</title>
  </head>

  <body>
    <% @songs.each do |song| %>
    <a href="/songs/<%= song.slug %>"> <%= song.name %> </a>
    <% end %>
  </body>
</html>
