<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Songs</title>
  </head>
  <body>
    <% @songs.each do |song| %>
      <a href='/songs/<%= song.slug %>'><%= song.name %></a>
    <% end %>
  </body>
</html>
