<h1>Make a new song here!</h1>

<form>
  <p>
    <label for="Name"><strong>First, give your song a name:</strong></label>
    <input type="text" id="Name" name="song[name]" />
  </p>
  
  <p>
    <input type="button" id="Submit" value="Write this song!" />
  </p>
</form>