<h1>Enter a song</h1>
<p>
  <form method="post" action="/songs">
  <input type="text" name="name" Song Name:>
  <input type="text" name="artist" Song Artist:>
  <input type="text" name="genre" Song Genre:>
  <input type="submit" name="submit"Create Song>
  </form>
</p>
  
