<h1>Add A New Song</h1>
<form action="/songs" method="POST">
  <input type="text" name="song[name]" id="Name" placeholder="Song Name"></input>

  <br></br>

  <input type="text" name="song[artist_id]" id="Artist Name" placeholder="Artist Name"></input>

  <br></br>

  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%= genre.id %>">
      <%= genre.name %>
    </input>
  <% end %>

  <br></br>

  <input type="submit" value="Create">
</form>
