<form action="/songs" method="POST">
   <input type="text" name="song[name]" id="Name">
   <input type="text" name="artist[name]" id="Artist Name">
   <%Genre.all.each do |genre| %>
    <label><input type="checkbox" name ="genres[]" id="<%=genre.name%>" value="<%genre.id%>"><%= genre.name %></label>
    <% end %>
    <input type="submit" value="Create">
</form>