<h2>Create a new Song</h2>

<form action="/songs/:slug" method="POST">
  <br></br>

  Name:<input type="text" name="Name"><br>
  Artist Name:<input type="text" name="Artist Name"><br>
  <br>

  <input type="submit" value="Create Song">
</form>
