<h2> Enter a new song</h2>
<form action="/songs/create" method="post">
Name: <input type="text" name="name" value='Name' id='name'></br>
Artist:<input type="text" name="artist" ></br>
Pick all the genres that apply:</br>
<% @genres.each do |g|%>
<input type="checkbox" name="genre" ><%= g.name%></br>
<% end%>
<input type="submit" value="submit">
</form>
