<form action="/songs" method="post">
  Name: <input type="text" name="Name" value="Song Name"><br>
  Artist: <input type="text" name="Artist Name" value="Artist Name">
  Genres:
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %><br>
  <% end %>
  <input type="submit" value="Create Song">
</form>
