<!DOCTYPE html>
<html>
<head>
  <h1>Create a New Artist!</h1>
</head>

<body>
  <form method="POST" action="/songs/<%=@song.slug%>">
    <input type="text" name="song_name">
    <value="submit" id="submit" type="submit">
  </form>
</body>
</html>
