<form>
  <h1> <title>My Song Collection</title> </h1>
  <br> </br>
      <ol>
      <% @songs.each do|song| %>
      <h3><li> Song Name:<%=@song.name%><a href="/songs/<%=@song.id%>"</a></li></h3>
      </ol>
</form>
