<% unless locals.empty? %>
  <%= message %>
<% end %>
<h1>Create New Song:</h1>

<form method="POST" action="/songs">
  <label>Song Name:</label>
  <br></br>
  <input type="text" name="song_name" id="Name" value="Name">
  <br></br>
  <p>Genres:</p>
  <% Genre.all.each do |genre|%>
  <input type="checkbox" id="<%=genre.name%>" name="genres[]" value="<%= genre.id%>"><%= genre.name%></input>
  <%end%>
  <br></br>
  <p>Artist's Name:</p>
  <input type="text" name="artist_name" id="Artist Name" value="Artist Name">
  <input type="submit" id="submit"  name="submit" value="Create">
  <br></br>
</form>
