<h1>Add A Song!</h1>

<form action="/songs" method="post">

  <label>Song Name </label><input id="song_name" type="text"
    name="song[name]">
  <br>
  <label>Artist Name </label><input id="artist_name" type="text"
    name="artist_name">
  <br></br>
  <label>Genres</label>
  <br>
  <% @genres.each do |genre| %>
  <input type="checkbox" id= "<%= genre.id %>" name="song[genre_ids][]"
   value="<%= genre.id %>"><%= genre.name %></input>
    <br>
  <% end %>
  <br>
  <input type="submit" name="" value="Add Song">

</form>
