<form action="/songs" method="post">

<input type="text" name="Name" value="">

<input type="text" name="Artist Name" value="">

<%Genre.all.each do |genre|%>
<input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>">
<%end%>
<input type="submit" value="Create">

</form>
