<h1>Create Song</h1>
<form action="/songs" method="post">
  <label for="name">Name:</label><input type="text" id="name" name="name"><br/>
  <label for="artist">Content:</label><input type="text" id="artist" name="artist"><br/>
  <label for="genre">Content:</label><input type="text" id="genre" name="genre"><br/>
  <button type="submit" value="submit">Submit</button>
</form>
