<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">The Playlister</a>
  <ul class="nav nav-pills">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/artists">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/genres">Genres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/songs">Songs <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="starter-template">
    <h1>New Song</h1><br />
    <form method="post" action="/songs/">
      <div class="form-group row">
        <div class="offset-xs-3 col-xs-6">
          <input class="form-control" type="text" name="Name" placeholder="Song Name" id="Name">
        </div>
      </div>
      <div class="form-group row">
        <h3>Enter an Artist name</h3>
      </div>
      <div class="form-group row">
        <div class="offset-xs-3 col-xs-6">
          <input class="form-control" type="text" name="Artist Name" placeholder="Artist Name" id="Artist Name">
        </div>
      </div>
      <div class="form-group row">
        <h3>Select the Song's Genres</h3>
      </div>
      <div class="form-group row">
        <% Genre.all.each do |genre| %>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="genres[]" value="<%= genre.id %>" name="<%= genre.name %>">
            <%= genre.name %>
          </label>
        </div>
        <% end %>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

    </form>
  </div>
</div><!-- /.container -->
