<h1>New Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>
  <br>
  <input type="text" name="Name" id="Name">
  <br></br>
  <label>Genre:</label><br>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
    <br>
  <% end %>
  <br>
  <label>Artist:</label><br>
  <input type="text" name="Artist Name">
  <br><br>
  <input type="submit" value="Create">
</form>
