<h3>New Song:</h3>

<form action="/songs" method="post">
  <label for="Name">Song Name</label>
  <input type="text" name="Name" id="Name" value="Name"> <br><br>
  <label for="Artist Name">Artist Name</label>
  <input type="text" name="Artist Name" id="Artist Name" value="Artist Name"><br>


  <h4>Genres:</h4>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%=genre.name%></input>
  <% end %>
  <br><br>

  <input type="submit" value="Create Song">
</form>