<h1>Create a New Song</h1>
<form action="/songs" method="POST">
  <div>
    <label for="Name">Name: </label>
    <input type="text" id="Name" name="song[name]">
  </div>

  <div>
    <label for="Artist Name">Artist: </label>
    <input type="text" id="Artist Name" name="song[artist_name]">
  </div>

  <div>
    <% @genres.each do |genre| %>
      <input type="checkbox" id="<%= genre.name %>" name="song[genres][]" value="<%= genre.id %>">
        <%= genre.name %>
      </input>
    <% end %>
  </div>

  <div>
     <input type="submit" value="Create"/>
  </div>
 
</form>