<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Song Name</label>

  <input type="text" name="song[name]" id="Name">
  <%#binding.pry%>
  <br></br>

  <label>Choose an existing artist:</label>

  <br></br>



  <label>and/or, create a new artist:</label>
  <br></br>
  <label>Artist Name:</label>
    <input type="text" name="artist_name"></input>
  <be></br>
  <%#binding.pry%>
  <input type="submit" value="Create Song">
</form>
