<h1>Add a Song to Catalog</h1>

<form action="/songs" method="POST">
  <label for="Artist Name"> Artist Name </label>
  <input type="text" name="Artist Name"> </br>

  <label for="Name"> Song_Name </label>
  <input type="text" name="Name"> </br>

  <label> Genres </label>
  <br>
  <% Genre.all.each do |genre| %>
    <label for="genres[]"><%= genre.name %><input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
      <br>
  <% end %>

  <input type="submit" value="Create">
</form>
