<h1>New Song</h1>
<form method="post" action="/songs">
<label for="name">Name</label><br>
<input type="text" name="name" id="name">
<br><br>
<% @genres.each do |genre| %>
<input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"> <%= genre.name %><br>
<% end %> 
<br>
<label for="artist_name">Artist</label><br>
<input type="text" name="Artist Name">
<input type="submit" value="Create">
</form>