<h2> Create a new song </h2>

<form method="post" action="/songs">
  <label for="song_name"> Name</label>
  <input type="text" id="song_name" name="song_name">

  <label for="artist_name"> Artist Name</label>
  <input type="text" id="artist_name" name="artist_name">

  <br><br>

  <p> <strong>Genre(s)</strong></p>
    <% Genre.all.order('name ASC').each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%=genre.name%></input>
      <br>
    <% end %>

  <br>

  <button type="submit" value="submit">Create</button>
</form>
