<form method="post" action="/songs">
  Name<input type="text" id="Name" name="Name">
  Artist Name<input type="text" id="Artist Name" name="artist_name">
  Genres
  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
