<form method="POST" action="/songs">
  
  <h2>Song Name: <input type="text" name="song_name" id="song_name"></h2>
  <h3>Artist Name: <input type="text" name="artist_name" id="artist_name"></h3>
  <h3>Genres:</h3>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%=genre.name%></input>
  <% end %>
  
  <br></br>
  
  <input type="submit" value="Create Song" id="submit" name="submit">
</form>