<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Song</title>
  </head>
  <body>
    <h3>Create A New Song:</h3>
    <form action="/songs" method="post">
      <p>Name: <input type="text" name="Name"></p>
      <p>Artist: <input id="Artist Name" type="text" name="artist_name"></p>
      <p>Genres:</p>
      <br>

      <% @genres.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genre_ids[]" value="<%= genre.id %>"><%= genre.name %>
        <br>
      <% end %>

      <input type="submit" value="Create">

    </form>
  </body>
</html>
