<h1>Create a new Song</h1>
<form action="/songs" method="post">
  <label>Song Name:</label>
  <br></br>
  <input type="text" name="song[name]" id="Name">
  <br></br>
  <label>Enter the Artist's name (if you know it):</label>
  <br></br>
  <input type="text" name="artist[name]" id="Artist Name">
  <br></br>
  <label>Choose from an existing Genre:</label>
  <br></br>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
  <%end%>
  <br></br>
  <input type="submit" value="Create Song">
</form>
