<h1>Create a new Song </h1>

<form action="/songs" method="POST">
  <label for="song_name">Name</label>

  <br></br>

  <input type="text" id="song_name" name="song_name">

  <br></br>

  <p>Who is the songs artist?</p>
  <label for="artist_name">Artist Name: </label>
  <input type="text" id="artist_name"  name="artist_name">
    <br></br>

  <p>What is your song's genre(s)?</p>
    <% Genre.all.each do |genre| %>
      <br><input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input></br>
    <% end %>

  <input type="submit" value="Create a Song">
</form>

<h5><a href="/songs">Return to all Songs</a><h5>  
