<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <p><label>Name: </label><input type="text" name="Name"></p>
  <label>Choose a Genre:</label>
  <br/>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>
  <br/>
  <p><label>Artist: </label><input type="text" name="Artist Name"></p>
  <br/>
  <input type="submit" value="Create">
</form>
