<h1>New Song</h1>

<form method="POST" action="/songs">
  <h3><label>Artist Name</label></h3>
  <input type="text" name="Artist Name">

  <h3><label>Song Name</label></h3>
  <input type="text" name="Name">

  <h3>Genres</h3>
  <ul style="list-style: none; padding-left: 10px;">
    <%@genres.each do |genre|%>
      <li><input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"> <%=genre.name%></li>
    <%end%>
  </ul>

  <input type="submit" value="Create">
</form>
