<h1>Create a New Song!</h1>
<br></br>
<form action="/songs" method="post">
  <input type="text" name="Name" id="Name" value="name">
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>"><%= genre.name %></input>
  <% end %>
  <input type="text" name="Artist Name" value="Artist">
  <input type="submit" value="Create">
</form>