<form action='/songs' method="POST">
<h2>Song Name:</h2>
<input type="text" name="name" id="Name">

<h2>Artist Name:</h2>
<input type="text" name="artist_name" id="Artist Name">
<input type="submit" value="Create">

<h2>Select Genre:</h2>
<% Genre.all.each do |genre|%>
<input type="checkbox" name=genres[] value="<%=genre.id%>" id="<%=genre.name%>"> <%=genre.name%>
<% end %>
</form>