
<h1>New Song!</h1>
<form action="/songs" method="post">
Song Name: <input type="text" name="song[name]" value="" id="Name"><br><br>
Artist Name: <input type="text" name="artist[name]" value="" id="Artist Name">
<h3>Genres</h3>
<% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>"> <%= genre.name %><br>
<% end %>
<input type="submit" value="Create">
</form>
