<form action="/songs" method="post">
  Song Name: <input id="name" type="text" name="Name">
  Song Artist: <input id="artist" type="text" name="Artist Name">
  Song Genre:
    <% @genres.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>

    <input id="Create" type="submit">
  
</form>
