<h1>Create a new song</h1>

<form action="/songs" method="post">

    <label>Song Name:</label>
    <input type="text" name="song[name]" id="song_name">

    <label>Artist Name:</label>
    <input type="text" name="Artist Name" id="artist_name"></br></br

    <% Genre.all.each do |genre| %>
        <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<% owner.id %><%= genre.name %>"  >
    <% end%></br></br>

    <input type="submit" value="Create" />
</form>
