<h1>Add a New Song</h1>

<form action="/songs" method="post">
  <label>Artist Name</label>
  <input type="text" name="Artist Name"> </br>

  <label>Song Name</label>
  <input type="text" name="Name"> </br>

  <label>Genres</label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
