<h1>Add a new song</h1>

<form method="POST" action="/songs">
  <p>
    Name: <input id="Name" type="text" name="song[name]">
  </p>
  <p>
    Choose an artist:
  </p>
  <p>
    <% Artist.all.each do |artist| %>
      <p>
        <input type="checkbox" name="song[artist_id]" value="<%= artist.id %>"><%= artist.name %></input>
      </p>
    <% end %>
  </p>
  <p>
    or create a new artist:
  </p>
  <p>
    <label>Artist Name: <input type="text" name="artist[name]"></label>
  </p>


  <p>
    Choose a Genre:
  </p>
  <p>
    <% Genre.all.each do |genre| %>
      <p>
        <label><input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>"><%= genre.name %></input></label>
      </p>
    <% end %>
  </p>
  <p>
    or create a new genre:
  </p>
  <p>
    Name: <input type="text" name="genre[name]">
  </p>


  <p>
    <input type="submit" value="Create">
  </p>
</form>
