<h1>Song Creator</h1>

<form class="" action="/songs" method="post">
  <label for="name">Name: <input type="text" name="song[name]" id="name" value=""></label>
  <label for="artist">Artist: <input type="text" name="song[artist]" id="artist" value=""></label>
</form>
