<h1>Add a song</h1>

<form method="POST" action="/songs">
    <label for="artist_name">Artist Name:</label>
    <input type="text" name="artist_name" id="Artist Name">
    <label for="song_name">Song Name:</label>
    <input type="text" name="song_name" id="Name">
    <br><br>

    <%Genre.all.each do |genre| %>
        <input type="checkbox" id="<%=genre.name%>" value="<%=genre.id%>" name="genres[]"><%=genre.name%>
    <%end%>

    <input type="submit" id="submit" value="Create">
</form>