<h1>Create a new song</h1>
<form action="/songs" method="post">
  <label>Song Name: </label>
  <input type="text" name="Name" id="song">

  <br><br>
  <label>Artist Name: </label>
  <input type="text" name="Artist Name" id="artist">

  <br><br>

  <h4>Genre(s):</h4>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %><br>
  <% end %>
  <br>

  <input type="submit" value=" Create " id="create">
</form>
