<h1>Add a new song:</h1>

<form action ="/songs" method="POST">

  <label>Artist Name:</label>
  <input type="text" name="Artist Name">

  <br></br>

  <label>Song Name:</label>
  <input type="text" name="Name">

  <br></br>

  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %>
  <% end %>

  <br></br>

  <input type="submit" value="Create">
</form>
