<h1>Add a new Song</h1>

<form action="/songs" method="POST">
  Song name: <input type="text" name="song_name" id="Name">
  Song artist: <input type="text" name="artist_name" id="Artist Name">
  Song genre:
  <% @genres.each do |genre|%>
    <label><input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.name%>"><%=genre.name%></label>
  <% end %>
  <input type="submit" name="submit" id="Create" value="Create">
</form>