<h3>Create a new song:</h3>

<form action="/songs/new" method="POST">

<input type="text" name="Name" placeholder="New Song:"><br><br>

<label>Choose the song's artist:</label><br>
  <input type="text" name="Artist Name" placeholder="Song's Artist:"><br><br>

<label>Choose existing genre(s):</label><br>
  <% Genre.all.each do |ii| %>
    <input type="checkbox" name="genres[]" id="<%=ii.name%>" value="<%=ii.id%>"><%=ii.name%></input><br>
  <% end %>

  <br><br>

  <label>and/or, create a new genre:</label><br>
    <input type="text" name="genre_name" placeholder="genre:">
  <br></br>

  <input type="submit" name="" value="Create">

</form>
