<h1>Create a new Song</h1>

<form action="/songs/:slug" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="song_name">

  <br></br>

  <label>Choose an existing genre:</label>

  <br></br>

  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="song[genre_ids][]" id="<%=genre.id%>" value="<%=genre.id%>"><%=genre.name%></input>
  <%end%>

  <br></br>

    <label>and/or, create a new artist:</label>
    <br></br>
    <label>name:</label>
      <input  type="text" name="artist[name]"></input>
    <br></br>
  <input type="submit" value="Create Song">
</form>
