<h1>Create a new Song</h1>

<form action="/pets" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id = "song_name">

  <br></br>

  <label>Choose an existing artist:</label>

  <br></br>

  <%@artists.each do |artist| %>
    <input type="checkbox" name="song[artist_id]" value="<%=artist.id%>" id="<%=artist.id%>"><%=artist.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new artist:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="artist_name"></input>
  <be></br>
  <%#binding.pry%>
  <input type="submit" value="Create Song">
</form>
