<html>
<body>
  <form action="/songs" method="POST">
    <h5>Enter the Song Name:</h5>
    <label>Name
      <input type="text" name="song" id="song"></input>
    </label>

    <h5>Select or create an Artist</h5>
      <p>Select an Artist:</p>
        <%@artists.each do |artist|%>
          <input type="checkbox" name="<%=artist.slug%>" value="<%=artist.slug%>" id="<%=artist.slug%>"><%=artist.name%></input>
        <%end%>

      <br></br>

      <p>Create a new Artist:</p>
      <label>Artist Name
         <input  type="text" name="artist_name" id="artist_name"></input>
       </label>

      <br></br>

    <input type="submit" id="Create">Create</input>
  </form>
</body>
</html>
