<form method="post" action="/songs">

  <p>Name:<input type="text" name="Name" id="Name"></p>

  <input type="text" name="Artist Name"> </br>

  <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>

  <input type="submit" value="Create">
</form>
