<h1>Add a song</h1>

<form method="POST" action="/songs">
    <label for="artist">Artist Name:</label>
    <input type="text" name="artist">
    <label for="name">Song Name:</label>
    <input type="text" name="name">

    <input type="submit" id="submit" value="Create">
</form>