<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <div style="margin:5%">
    <h1>Create a New Song and Artist</h1>

    <form method="POST" action="/songs">
      <label for="name">Song</label>
    <input type="text" id="name" name="Name"><br><br>
    <label for="artist_name">Artist Name</label>
    <input type="text" id="artist_name" name="Artist Name"><br>
    <p>Genre</p>
    <% @genres.each do |genre| %>
      <input type="checkbox" id="<%= genre.name %>" name="genre_ids[]" value="<%= genre.id %>"><%= genre.name%><br>
    <% end %><br>
    <input type="submit" value="Create">
    </form>
  </div>
  </body>
</html>
