<h2>Create a new song:</h2>
<form action="/songs" method="POST">
  <h4>Song Name:<input type="text" name="name"/></h4>
  <h4>Artist Name:<input type="text" name="artist_name"/></h4>
  <h4>Genres:
  <% Genre.all.each do |genre| %>
    <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%=genre.id%>"/>
  <% end %>
  </h4>

  <input type="submit" value="Create">
</form>
