<h1>Create a new Song</h1>

<form action="/songs" method="POST">

  <label> Song </label>
  <input type="text" name="Name"> </br>

  <label> Artist </label>
  <input type="text" name="Artist Name"> </br>

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    </br>
  <% end %>
  </br>
  <input type="submit" value="Create">
</form>