<h1>Create a new Song</h1>
<form method="POST" action= "/songs/new">
  <h3>Name:<input type="text" id="song_name" name="song_name"></h3><br>
  <h3>Artist:<input type="text" id="artist_name" name="artist_name"></h3><br>
  <h3>Genre Name:<input type="text" id="genre_1_name" name="genre_1_name"></h3><br>
  <h3>Genre Name:<input type="text" id="genre_2_name" name="genre_2_name"></h3><br>
  <input type="submit" id="submit" value="Submit">
</form>
