<form action="/songs/new" method="POST">
  <label>Song Name:</label>
  <br></br>
  <input id ="Name" type="text" name="song[name]">
  <br></br>
  <%Song.all.each do |song|%>
   <input type="checkbox" name="song[name]" id="<%= song.name %>" value="<%=song.id%>"><%=song.name%></input>
   <br></br>
 <%end%>


  <input type="submit" value="Create Song">
</form>
