<h3>Create a new Song:</h3>

<form action='/songs' method='post'>
  <label>Song Name</label>
    <input type='text' name='Name'>
  <br>
    
  <label>Artist Name</label>
    <input type='text' name="Artist Name">
  <br>

  <label>Genres</label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
  
  <br>
  <input type='submit' value='Create'>
</form>
