<h1>Create a new song</h1>

<form action="/songs" method="post">
  <input type="text" name="song[name]" id="Name" placeholder="Song Name">

  <br><br>

  <input type="text" name="artist[name]" id="artist" placeholder="Artist Name">


  <input type="submit" value="Create" id="create">
</form>
