<!DOCTYPE html>
<html>
  <head>
    <title>Songs - New</title>
  </head>

  <body>

<form method="POST" action="/songs">

  Artist Name
  <input type="text" name="Artist Name"></input><br>

  Song Name
  <input type="text" name="Name"></input><br>

  Genres
   <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"></input>

    <%end%></br>

    <input type="submit" value="Create">

</form>

  </body>
</html>
