<h1>Create a new song</h1>

<form action="/songs" method="POST">
  <label for="song_name">Name:</label>
  <input type="text" name="song_name" id="song_name"></input>
  <br></br>
  <label for="artist_name">Artist Name:</label>
  <input type="text" name="artist_name" id="artist_name"></input>
  <br></br>
  <label for="genre_name">genre Name:</label>
  <input type="text" name="genre_name" id="genre_name"></input>
  <br></br>
  <input type="submit" value="Create">
</form>
