<form method="post" action="/songs">
<h1>Name <input id="Name" name="Name" type="text"></h1>
<h1>Artist Name <input name="Artist Name" type="text"></h1>

<h2>Check All that Apply:</h2>
<% @genres.each do |genre| %>
<%= genre.name.upcase %>
<input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %>
<h1><button name="Create" type="submit">Create</button></h1>
</form>
