<form action="/songs" method="post">
  <label>Name:</label>
  <br></br>
  <input type="text" name="Name">
<br></br>
<%@genres.each do |genre|%>
<input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
<%end%>
  <br></br>
  <input type="submit" name="Submit">
</form>
