<br><br>

<form action="/songs" method="POST">

  <label for="name">Song Name: </label><input type="text" name="song[name]" id="Name">

  <p>Select a Genre:</p>
  <%@genres.each do |genre| %>
    <label for="<%= genre.name %>"><%= genre.name %></label>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>">
  <%end%>

  <br><br>

  <label for="artist_name">Artist Name: </label><input type="text" name="artist_name" id="Artist Name">

  <br><br>

  <input type="submit" id="Create">
</form>
