<h1> Add a new Song </h1>

<form action="/songs" method="POST">
  <label><h3> Song Name </h3></label>
  <input type="text" name="Name"></input> </br>

  <label><h3> Artist Name </h3></label>
  <input type="text" name="Artist Name"></input> </br>


  <label> <h3> Genres </h3> </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox"
    name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>
  <br><br><br>


  <input type="submit" value="Create Song">
</form>
