<h1>Create a new song!</h1>
<form action="/songs" method="POST">


        <label>Song Name:</label>
        <input type="text" name="Name" id="name" placeholder="Type Here">
        <br></br>
        <h2>Artist:</h2>
        <br></br>
        <p>Choose an Existing Genre:</p>
        <%Genre.all.each do |genre|%>
                  <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
        <%end%>
        <p>Create a New Artist</p>
        <input type="text" name="Artist Name" id="artist_name" placeholder="Type Here">
        <br></br>

        <input type="submit" name="Create" value="Create Song">
</form>
