<h1>Create a new song</h1>

<form action="/songs" method="POST">
  <label>Song Name:</label>
  <br>
  <input type="text" name="song[name]" id="song_name">
  <br>
  <label>Artist name:</label>
    <input  type="text" name="song[artist]" id="artist_name"></input>
  <br>

  <br>
  <label>Genres:</label>
  <br>
 
  <% Genre.all.each do |genre| %>
      <input type="checkbox" name="song[genres][]" id="<%= genre.id %>" value="<%=genre.id %>" <%= genre.name %></input><br>
  <% end %>
 
  <br>
  <input type="submit" value="Create Song">
</form>