<h1>Create a new Song</h1>
<form class="" action="index.html" method="post">
  <label>Name:</label>

  <br>

  <input type="text" name="song_name" value="song_name" id="song_name">

  <br>

  <!-- rspec spec/features/05_song_form_spec.rb --f-f for quick access-->
  <input type="submit" name="Submit" value="Submit">
</form>
