<html>
<body>
  <form action="/songs" method="POST">
    <p>Enter the Song Name: <input type="text" name="Name"></input></p>
    <p>Enter the Song Name: <input type="text" name="name"></input></p>
    <p>Enter the Song Name: <input type="text" name="name"></input></p>
    <input type="submit" id="submit">Save</input>
  </form>
</body>
</html>
