<h1>Create New Song</h1>

<form action="/songs" method="POST">
  Song Name: <input type="text" name="Name">
  Artist Name: <input type="text" name="Artist Name">
  Genres: <% Genre.all.each do |genre| %>
   <%= genre.name %>
     <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%= genre.id %>">
   <% end %>
  <input type="submit" value="Create">
</form>
