<h1>Add a New Song</h1>

<form action="/songs" method="POST">
  <label> Artist Name </label>
  <input id="artist_name" type="text" name="Artist Name">

  <label> Song Name </label>
  <input id="song_name" type="text" name="Name">

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value=" <%= genre.id %>"><%= genre.name %></input>
  <%end%>

  <input id="submit" type="submit" value="Create">
</form>
