<h1>Create a new song here</h1>

<form action="/songs" method="POST">
  <label>Name:</label>
  <br>
  <input type="text" name="song[name]" id="Name">
  <br>

  <input type="submit" value="Create Artist">
  </form>
