
<form action='/songs/new' method='POST'>
	Song: <input type="text" name="name" id="Name"><br>
	Artist: <input type="text" name="artist[name]" id="Artist Name"><br>
	Genres: <% Genre.all.each do |genre| %>
		<%= genre.name%>
		<input id="<%= genre.name %>" type="checkbox" name="genres[]">
	<%end%><br>

	<button type="submit" name="submit_song" id="Create">Create Song</button>
</form>
