<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label><input type="text" name="Name" id="Name">
  <br></br>
  <label>Choose an existing artist:</label>

  <br></br>

  <%Artist.all.each do |artist|%>
    <input type="checkbox" name="artist_name" id="<%=artist.name%>" value="<%=artist.name%>"><%=artist.name%><br></input>
  <%end%>

  <br></br>

    <label>and/or, create a new artist:</label>
    <br></br>

      <input  type="text" name="artist_name"></input>
    <br></br>
  <input type="submit" value="Create Song">
</form>
