<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Song</title>
    <h1>Create a New Song!</h1>
  </head>
  <body>
    <form action="/songs" method="post">
      <label>Name:</label>
      <input type="text" name="song[name]" id="Name">
      <br></br>

      <label>Pick a genre(s):</label>
      <% @genres.each do |genre| %>
        <input type="checkbox" name="song[genre_ids][]" value="<%= genre.id %>"
          id="<%= genre.name %>"><%= genre.name %></input>
      <% end %>
      <br></br>
      <label>Artist Name:</label>
        <input type="text" name="artist[name]" id="Artist Name">
      <br></br>
      <input type="submit" value="Create" id="Create">
    </form>
  </body>
</html>
