<h1>Add Song</h1>
<form action="/songs" method="post">
  <label for="name">Name: </label>
  <input type="text" id="name" name="name">
  <label for="name">Artist: </label>
  <input type="text" id="name" name="name">
  <label for="name">Genre: </label>
  <input type="text" id="name" name="name">
  <input type="submit" value="submit">
</form>
