<h1>Create a new song!</h1>

<form action="/songs" method="post">
  <p>Song Name: </p><input type = "text" name="song[name]" id="Name"><br>
  <p>Artist Name: </p><input type= "text" name="artist[name]" id="Artist Name"><br>

  <label>Choose an existing genre:</label>
  <br></br>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
  <br></br>

    <label>and/or, create a new genre:</label>
    <br></br>
    <label>name:</label>
      <input  type="text" name="genres[name]"></input>
    <br></br>

  <input type="submit" value= "Create" id="Create">

</form>
