<h1>Create a new song</h1>

<form action="/songs" method="POST">
  <label>Artist Name:</label>
  <input type="text" name="artist_name" id="artist_name">
  <br></br>
  <label>Song Name:</label>
  <input type="text" name="song_name" id="song_name">
  <br></br>
  <label>Genre Name:</label>
  <input type="text" name="genre_name">
  <br></br>
  <input type="submit" value="Create">
 </form>
