<!-- /songs/new
Be able to create a new song
Genres should be presented as checkboxes
Be able to enter the Artist's name in a text field (only one Artist per song.)
 -->
<h2>New Song Form</h2>

<form method="POST" action="/songs/new">
  <p>Song name:<input type="text" name="name" id="Name"></p>

  <p>Select a genre or multiple genres</p>
  <ul>
  <% Genre.all.each do |genre| %>
    <li><%=genre.name%><input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"></li>
  <% end %>
  </ul>

  <p>Artist name:<input type="text" name="artist" id="Artist Name"></p>

  <input type="submit" id="Create" value="Create">
</form>
