<h4>Create A New Song</h4>
<form action="/songs" method="post">
  <input type="text" name="Name" value="Name">
  <input type="text" name="Artist Name" value="artist_name">
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %>
<button type="submit" name="Create" value="submit">Create</button>
</form>
