#describe "Song Forms" do
  #let(:artist_name) { "Person with a Face" }
  #let(:genre_1_name) { "Hippity Hop" }
  #let(:genre_2_name) { "New Age Garbage" }
  #let(:song_name) { "That One with the Guitar" }
  #let!(:genre_1) { Genre.create(name: genre_1_name) }
  #let!(:genre_2) { Genre.create(name: genre_2_name) }


<h1>Create A New Song</h1>

<form action="/songs" method="POST">

  <label for="Name">Song Name:</label>
  <input type="text" name="Name" id="Name" /> </br>

  <label for="Artist Name">Artist Name:</label>
  <input type="text" name="Artist Name" id="Artist Name" /> </br>

  

  <h2>Genres</h2>

 <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %> </input>
  <% end %>
  

   <input type="submit" value="Create Song" />
</form>

