<h2>Create Song:</h2>

<form class="song" action="/songs" method="post">
  <input type="text" name="song[name]" id="Name" placeholder="Song Name"><br>
  <input type="text" name="song[artist]" id="Artist Name" placeholder="Artist"><br>
  <%@genres.each do |g|%>
    <input type="checkbox" name="song[genre_ids][]" value="<%=g.id%>" id="<%=g.name%>">
    <label for="<%=g.name%>"><%=g.name%></label>
  <%end%>
  <br>
  <input type="submit" id="submit" value="Create Song">
</form>
