<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/songs/new" method="POST">

      <label>Name</label>

      <input type="text" name="Name" value="" id="Name">

      <br><br>

      Enter the Artist Name:<input type="text" name="Name" id="Name">

      <input type="submit" name="submit" value="Submit">

    </form>

  </body>
</html>
