
<h3>Create A New Song</h3>

<form action='/songs' method="POST">
  <label> Name: </label>
  <input type="text" name="Name" id ="Name" >
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
    <br>
  <% end %>
  <label>Artist:</label>
  <input type="text" name="Artist Name"></input>
  <br></br>
  <input type="submit" value="Create" >
</form
