<h1>New Song Entry!</h1>

<form method="post" action="/songs">
  <H3>Name: <input type="text" id="Name" name="song_name"></h3>
  <h4>Artist Name: <input type="text" id="Artist Name" name="artist"></h4>
  <p>Genre(s):
    <% Genre.all.each do |genre| %>
      <label><input type="checkbox" id="<%=genre.name%>" name="genres[]" value="<%=genre.name%>"><%=genre.name%></label>
    <%end%>


  <input type="submit" name="submit" id="Create" value="Create">
  </form>
