<h1>Create a new Song</h1>

<form action="/songs" method="post">
  <label>Song Name:</label> <input type="text" name="Name"><br>
  <label>Artist Name:</label><input type="text" name="Artist Name">

  <br>

  <label>Choose an existing genre:</label>

  <br></br>

  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
  <%end%><br></br>
  <input type="submit" value="Create">
</form>
