<h1>Add a New Song:</h1>
<form action="/songs" method="post">
  <label>Name: </label><input type="text" name="song_name" value="Song Name">

  <br>

  <label>Artist Name: </label><input type="text" name="Artist" value="Artist Name" id="Artist Name">

  <br>

  <label>Genre: </label><br>
  <% Genre.all.each do |genre| %>
  <input type="checkbox" id="<%=genre.name%>" name="genres" value="<%=genre.id%>"><%=genre.name%></input>
  <%end%>

  <br>

  <input type="submit" value="Create">

</form>
