<form action="/songs" method="POST">
  <input type="text" name="Name" placeholder="Song name"><br>
  <input type="text" name="Artist Name" placeholder="Artist name"><br>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>"><%= genre.name %><br>
  <% end %>
  <input type="submit" value="Create">
</form>