<form action ="/songs" method="POST">
  <h1>Add a New Song</h1>

  <label for="song_name"><h3>Song Name</h3></label>
  <input type="text" name="Name" id="Name" value="Name">
    <br> </br>

  <label for="genres"><h3>Genres</h3></label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>
  <br></br>
  label>and/or, create a new artist:</label>
  <br></br>
  <label for="artist_name"><h3> New Artist Name</h3></label>

    <input type="text" name="Artist Name" ></input>
    <br></br>

    <input type="submit" value="Create">

</form>
