<h1>Create A New Song</h1>

<form action="/songs" method="POST">
  <p>Name: <input type="text" name="Name" id="song_name"></p>
  <p>Artist: <input type="text" name="Artist Name" id="artist_name"></p>
  <label>Genres: </label>
  <br>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
  <% end %>
  <br>
  <input type="submit" name="submit" value="Create">
</form>