<DOCTYPE! html>
<html>
<head>
  <title>New Song</title>
</head>
<body>

  <form action="/songs" method="POST">
    <label>Name</label>

    <br></br>

    <input type="text" name="song[name]" id="Name" value="Name">
    <br></br>

    <label>Artist Name</label>
      <br></br>
      <label>name:</label>
        <input  type="text" name="artist[name]" id="Artist Name" value="Artist Name"></input>
      <br></br>

    <label>Genre</label>
    <br></br>
    <%@genres.each do |genre|%>
      <input type="checkbox" name="song[genre_id]" value="<%=genre.id" id="<%=genre.id%>"><%=genre.name%></input>
    <%end%>

    <input type="submit" value="Create Song">
  </form>

</body>
</html>
