<h1>Create a new Song</h1>
 
<form action="/songs" method="POST">
  <br></br>
 
  Song name:<input type="text" name="name" id="Name">
 
  <br></br>

<% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %>
 
    <label>Add the artist:</label>
    <br></br>
      Artist name:<input  type="text" id="Artist Name" name="artist_name"></input>
    <br></br>
  <input type="submit" value="Create Song">
</form>