<h1>Create Song</h1>

<form action="/songs" method="POST">
  <label>Artist Name</label>
  <input type="text" name="Artist Name">
  <label>Song Name</label>
  <input type="text" name="Name">
  <%@genres.each do |genre|%>
    <input type="checkbox" name="Genre Name[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
<%end%>



  <input type="submit" value="Create">
</form>
