<!DOCTYPE html>

<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <h1>Create a Song</h1>
    <form action="/songs" method="post">
      <label>Song Name: </label><input id='Name' type='text' name='Name'><br>
      <label>Artist Name: </label> <input id='Artist Name' type='text' name='Artist Name'><br>
      <label>Genres (check all that apply): </label>
      <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
      <%= genre.name %>
      <% end %>
      <br>
      <input type='submit' value='Create'>
    </form>
    <a href="../"><h4>Cancel</h4></a>
  </body>
</html>
