<form action="/songs" method="post">

  <label>Artist:</label>
  <input type="text" name="Artist Name">
  <br><br>
  <label>Song:</label>
  <input type="text" name="Name">
  <br><br>
  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>"
      value="<%= genre.id %>"><%= genre.name %>
  <% end %>
  <br><br>
  <input type="submit" value="Create">
</form>
