<% unless locals.empty? %>
  <%= message %>
<% end %>

<h3>Create a New Song</h3>
<form action="/songs" method="POST">
  <label>Song: </label> <input id="Name" type="text" name="name">
  <br></br>

  <label>Genre: </label>
  <% Genre.all.each do |genre| %>
    <%=genre.name%>
    <input id="<%=genre.name%>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>

  <br></br>

  <p>Enter artist for the song:</p>
  <label>Artist: </label> <input id="Artist Name" type="text" name="artist_name">
  <br></br>
  <input type="submit" value="Create">
</form>


