<form action="/songs/new" method="POST">

  <label>Name:</label><input id="Name" type="text" name="song[name]" value="Name"></input>

  <label>Choose and existing artist:</label>
  <p>
    <% @artists.each do |a| %>
      <input type="checkbox" name="song_artist" value="<%= a.id %>" id="<%= a.id %>">
        <%= a.name %>
      </input>
  </p>

  <label>and/or, create a new artist:</label>
  <p>Artist Name: <input type="text" name="artist"></input>

  <input type="submit" value="Submit" />

</form>
