<h1> Create New Song </h1>

<form action="/songs" method="POST">
	Song: <input type="text" name="Name"><br>
	Artist: <input type="text" name="Artist Name" <br>
	Genres: <% Genre.all.each do |genre| %>
		<%= genre.name%>
		<input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%=genre.id%>">
	<%end%><br>

	<input type="submit" value="Create">
</form>
