<html>

<h1> New Song </h1>

  <form action="/songs" method="post">

    <h2>Song: </h2>

      <input type="text" name="Name">

    <h2>Genre: </h2>

      <input type="text" name="genre_1_name">
      <input type="text" name="genre_2_name">

        <% Genre.all.each do |genre| %>
          <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%=genre.name%>
        <% end %>

    <h2>Artist: </h2>

      <input type="text" name="Artist Name">

      <br></br>

    <input type="submit" value="Create">

  </form>

</html>
