<form action="/songs" method="POST">
  <fieldset>
    <div>
      <label for="song_name">Name</label>
      <input type="text" name="song[name]" id="song_name">
    </div>
    <div>
      <% Genre.all.each do |genre| %>
        <label for="<%=genre.slug%>"><%=genre.name%></label>
        <input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.slug%>">
      <%end%>
    </div>
    <div>
      <label for="artist_name">Artist Name</label>
      <input type="text" name="artist[name]" id="artist_name">
    </div>
    <input type="submit" value="Create">
  </fieldset>



</form>
