



<h2> Create a New Song: <h2>

<form action="/songs/new" method="post" >
  <h4>Song Name: </h4>
    <input type="text" name="Name" id="Name"></input>


  <h4>Song Artist: </h4>
    <input type="text" name="Artist Name" id="Artist Name"></input>


  <h4>Song Genre: </h4>
    <h5><% Genre.all.each do |genre| %>

    <input value="<%= genre.id %>" id="<%= genre.name %>" name="genres[]" type="checkbox"><%= genre.name %>

    <% end %><h5>

  <input type="submit" value="Create" id="Create"></input>


</form>



