  <form action="/songs" method="POST">

    <label>Artist Name<input type="text" name="artist"></label> </br>

    <label>Name<input type="text" name="Name" id="Name"></label>

      <br></br>

    <label>Select an Genre
      <%Genre.all.each do |genre|%>
        <label><%=genre.name%>
          <input type="checkbox" name="<%=genre.slug%>" value="<%=genre.slug%>" id="<%=genre.slug%>">
        </label>
      <%end%>
    </label>

    <br></br>

    <label>New Genre Name
       <input  type="text" name="genre_name" id="genre">
     </label>

    <input type="submit" value="Create">
  </form>
