<h1>Create a New Song</h1>

<form action="/songs" method="post">
  <label>Song Name:</label>

  <br></br>

  <input type="text" name="song_name">

  <br></br>

  <label>Choose a genre:</label>

  <br></br>

  <

</form>