<h2> Add a New Song</h2>

<form action= "/songs" method = "POST">

<h3> Artist Name</h3>
<input type = "text" name = "Artist Name"></br>


<h3> Song Name </h3>

  <input type = "text" name = "Name">


  </br> </br>

    <h3> Select Genre </h3>
    <% Genre.all.each do |genre| %>
    <input type= "checkbox"  name= "genres[]" id ="<%= genre.name %>"
    value= "<%= genre.id %>"> <%=genre.name%> </input>
    <% end %>
    </br> </br>

    <input type = "submit" value = "Create">

</form>
