<form action="/songs" method="POST">
  <p>Artist Name: <input type="text" name="Artist Name"></p>
  <p>Song Name: <input type="text" name="Name"></p>

  <p>Genres</p>
  <% Genre.all.each do |genre| %>
    <p><input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"></p>
  <% end %>

  <input type="submit" value="Create">
</form>
