<%require 'pry'%>

<form>
  <label> <h3> Song Name </h3></label>
    <input type ="text" name ="Name" id="song.name" value "song.name">
    <br> </br>
  <button><input type = "submit" value ="Create New Song"> </button>
<br> </br>

  <label><h3> Artist Name </h3></label>
  <% Artist.all.each do |artist| %>
    <input type="checkbox" value="<%= artist.name %>"  name="Artist Name"   id="<%= artist.name %>"   type="checkbox"> </input>
  <% end %>
  <br></br>

  <label>and/or, create a new artist:</label>
    <br></br>
      <input type="text" name="Artist Name" id="artist.name" value="artist.name">
      <br></br>
        <input type="submit" value="Update Artist">

</form>
