<h3> Enter a new song: </h3>

<form action="/songs/new" method="POST">
  <label>Name: </label>

  <br></br>

  <input type="text" name="Name" id="song_name">

  <br></br>

  <label> Choose an existing artist: </label>

  <br></br>

  <%Artist.all.each do |artist| %>
    <input type="checkbox" name="Artist" id="<%=artist.id%>" value="<%=artist.id%>"><%=artist.name%>
  <%end%>

  <br></br>

  <label>and/or create a new artist:</label>

  <br></br>

  <label>Name:</label>

    <input type="text" name="artist[name]">

  <br></br>

  <input type="submit" value="Save new artist">

</form>
