<h1>Create a New Song</h1>

<form action="/songs" method="post">
<label>Song Name</label><br>
<input type="text" name="song_name" id="Name">

<h3>Genres</h3>
<% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
<% end %>

<h3>Enter artist name</h3>
<label>Artist Name</label>
<input type="text" name="artist_name" id="Artist Name"></input>

<input type="submit" id="Create" value="Create">

</form>