<h1>Create Song</h1>
<form action="/songs" method="post">
  <label for="name">Name:</label><input type="text" id="name" name="name"><br/>
  <label for="artist">Artist:</label><input type="text" id="artist" name="artist"><br/>
  <label for="genre">Genres:</label><input type="text" id="genre" name="genre"><br/>
  <%@genres.each do |genre|%>
      <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
  <%end%>
  <br/>
  <button type="submit" value="submit">Submit</button>
</form>
