<h1>Song</h1>

<form action="/songs" method="post">
  <label for="name">Song Name: </label>
  <input type="text" name="name" id="name" value="name">
  <br>

  <label for="artist_name">Artist Name: </label>
  <input type="text" name="artist_name">
  <br>

  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>">
      <%= genre.name %>
    </input>
  <% end %>

  <input type="submit" value="Create">

</form>