<h3>Create a new Song:</h3>

<form action='/songs' method='post'>
  <label>Song Name</label>
    <input type='text' name='Name'>
  <label>Artist Name</label>
    <input type='text' name='Artist Name'>
  <br>
  <input type='submit' value='Create'>
</form>
