<h1>Create a new song</h1>

<form action="/songs" method="POST">
	
	<label>Song:</label>
	<input type="text" name="Name">
	<br></br>

	<label>Artist:</label>
	<input type="text" name="Artist Name">
	<br></br>

	<label>Genre:</label>
	<input type="text" name="Genre Name">
	
	<%Genre.all.each do |genre|%>
		<input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
	<%end%>

	<input type="submit" value="Create">
</form>