<h1>Create New Song</h1>


<form action="/songs" method="post">
<p>Name: <input type="text" name="name" id="Name"></p>
<p>Artist Name: <input type="text" name="artist_name" id="Artist Name"></p>

<% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"> <%= genre.name %>
<% end %>

<p><input type="submit" value="Create"></p>
</form>
