<h1>Enter a new Song</h1>

<form method="post" action="/songs">

  <label for="Name">Name:</label>
  <input type="text" name="song_name" id="Name">

   <label for="Artist Name">Artist Name</label>
   <input type="text" name="Artist Name" id="Artist Name">


    <p>Genres: <% Genre.all.each do |genre| %>
      <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
      <% end %>
    </p>

   <input type="submit" value="Create">

 </form>