<form action="/songs" method="POST">

New song
<label for="song_name">Name</label>
<input id="song_name" type="text" name="song[name]"/>
<br>


<%Genre.all.each do |genre|%>
  <label for="<%=genre.id%>"><%=genre.name%></label>
  <input id="<%=genre.id%>" type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>"/>
  <%end%>

  <br>

  <label for="artist_name">Artist Name</label>
  <input id="artist_name" type="text" name="artist[name]"/>
  <br>


<input type="submit" value="Create">
</form>
