<h1>Create a new song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" value="name" id="Name">

  <br></br>

  Choose an existing artist:

  <br></br>

  <% @genres.each do |genre| %>
      <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
  <%end%>

  <br></br>

  and/or, create a new owner:
   <br></br>
   <label>Name:</label>
     <input  type="text" name="artist_name" value="artist_name" id="Artist Name"></input>
   <br></br>

 <input type="submit" value="Create" id="Create">

</form>
