<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="/songs" method="post">
      <p>Song Name: <input type="text" name="song[name]" id="Name" value=""> </p>
      <p>Artist Name: <input type="text" name="artist_name" id="Artist Name" value=""> </p>
      <p>Genre: <input type="text" name="genre_name" value=""> </p>
      <% @genres.each do |genre|%>
        <input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
      <%end%>
      <p><input type="submit" name="" value="Create"></p>
    </form>


  </body>
</html>
