<form action="/songs" method="POST">
  <label for="song_name">Song Name:</label>
  <input type="test" id="song_name" name="Name">
  <br>
  <br>
  <label for="artist_name">Artist Name:</label>
  <input type="test" id="artist_name" name="Artist Name">
  <br>
  <br>
  <label>Select a genre:</label>
  <br>
  <% @genres.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
    <br>
  <% end %>
  <br>
  <button type="submit" value="create">Create</button>
</form>
