<h1>Create a new song below:</h1>
<form action="/songs" method="post">
  Song Name: <input type="text" name="Name">
  Artist Name: <input type="text" name="Artist Name">
  
  <h4>Genres:</h4>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
  
  <input type="submit" id="submit" value="Create">
</form>
