<h1>Add a song</h1>

<form action="/songs" method="post">
  <input type="text" name="song[name]" placeholder="Song Name"><br>
  <input type="text" name="song[artist]" placeholder="Artist Name"><br>
  <% @genres.each do |g| %>
  <input type="checkbox" name="song[genres][]" value="<%= g.name %>"><%= g.name %></input>
  <% end %><br>
  <input type="submit" value="Create Song">
</form>
