<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>New Song</h1>
    <form action="/songs" method="post">
      <h3>Name: <input type="text" name="name" id="Name"></h3>
      <h3>Artist Name: <input type="text" name="artist" id="Artist Name"></h3>
      <h3>Choose an existing Genre:</h3>
      <%Genre.all.each do |genre|%>
        <input type="checkbox" name="genre_ids[]" id="<%=genre.name%>" value="<%=genre.id%>"><%=genre.name%></input>
      <%end%>

      <br></br>

      <label>and/or, create a new genre:</label>
      <input  type="text" name="genre_name"></input>
      <br></br>
      <input type="submit" value="Create">
    </form>
  </body>
</html>
