<form action='/songs' method='post'>
  <label>Song Name</label><br>
  <input type="text" name="song[name]" id="Name">

  <label>Artist Name</label>
  <input  type="text" name="artist[name]" id="Artist Name"></input>

  <h4>Add an existing genre:</h4><br>

    <label>Name:</label>
    <% Genre.all.each do |genre| %>
      <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %></input>
    <% end %><br>

    <label>and/or, create a new genre:</label><br>

    <label>Name</label>
      <input  type="text" name="genre[name]" id="genre.name"></input>

    <input type="submit" value="Create Song">
  </form>
