<h1>Create A New Song</h1>
<form action="/songs" method="Post">
<label for="Name"><h3>Name: </h3></label>
<input type="text" name="Name" id="Name"><br>

<h3> Genres: </h3>
<% Genre.all.each do |genre| %>
    <%= genre.name %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %>

<h3>Artist Name: </h3>
<input type="text" name="Artist Name" id="Artist Name"><br></br>
<input type="submit" value="Create">
</form>