<h1>Create a New Song</h1>

<form action="/songs" method="POST">

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" value="<%= @song.artist.name %>"></input><br>

  <label>Song Name:</label>
  <input type="text" name="song[name]" id="song_name" value="<%= @song.name %>"></input><br>

  <label>Genre:</label>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"></input><br>
  <% end %>


  <input type="submit" value="Create Song">
</form>
