<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>
<input  type="text" name="Artist Name"></input>
  <br></br>

      <br></br>
      <label>Song Name:</label>
        <input type="text" name="Name"></input>
        <label>Genres:</label>
        <%Genre.all.each do |genre|%>

<input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.name%>"></input>
  <%end%>
      <br></br>
    <input type="submit" value="Create Song">
  </form>
