<form action="/songs" method="POST">
  <input type="text" name="Name">
  <input type="text" name="Artist Name">
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
  <input type="submit" name="submit" value="Create">
</form>
