<h1>Create a Song</h1>

<form method="POST" action="/songs">
  <label >Song Name:</label><br>
  <input type="text" name="Name"><br><br>

  <label>Song's Artist:</label><br>
  <input type="text" name="Artist Name"><br><br>

  <label>Song's Genre(s):</label><br><br>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <%= genre.name %></input><br>
  <% end %><br>

  <input type="submit" value="Create a song">

</form>
