<form action="/songs/create" method="post">
Name: <input type="text" name="name" id='name' value='Name' ></br>
Artist:<input type="text" name="artist" ></br>
Genre<input type="text" name="genre" ></br>
<input type="submit" value="submit">
</form>
