<% unless locals.empty? %>
  <%= "Successfully created song." %>
<% end %>

<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="Name">

  <br></br>

  <label>Choose an existing genre:</label>

  <br></br>

  <%@genres.each do |genre|%>
    <input type="checkbox" name="genre[genres_id][]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
  <%end%>

  <br></br>

  <label>and enter the Artist's name:</label>

  <br></br>

  <label>Name:</label>
  <input type="text" name="artist[name]" id="Artist Name"></input>
  <br></br>
  <input type="submit" value="Create" id="Submit">
</form>
