<form method="post" action="/songs">
  New Song Name<input type="text" name="name">
  Artist Name<input type="text" name="artist_name">
  Genres
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
