<form action="/songs" method="post">
  <label>Artist name:</label> <input type="text" name="artist_name" id="artist_name">
  <label>Genre 1 name:</label> <input type="text" name="genre_1_name" id="genre_1_name">
  <label>Genre 2 name:</label> <input type="text" name="genre_2_name" id="genre_2_name">
  <label>Song name:</label> <input type="text" name="song_name" id="song_name">
  <input type="submit" value="submit">
</form>
