<form action='/songs' method="POST">
    Name: <input type="text" id="Name" name="name"><br>
    Genres: <br>
        <% @genres.each do |genre| %>
            <input type="checkbox" name="genre_name" id="<%= genre.name %>" value="<%= genre.name %>"><%= genre.name %><br>
        <% end %>
    Artist Name: <input type="text" id="Artist Name" name="artist_name">

    <button type="submit" id="Create">Create</button>
</form>