<h2>Create a song</h2>
<form action="/songs" method="post">
  <p><label>Song Name:</label><input type="text" name="song[name]" id="Name"></p>
  <p><label>Artist Name:</label><input id="Artist Name" type="text" name="artist[name]"></p>
  <p><label>Genres:</label> </p>
  <p><%Genre.all.each do |genre|%>

    <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>">
    <%=genre.name%>
    <%end%>
    </p>
    <p><input type="submit" value="Create"></p>
</form>