<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h1>Create a new song </h1>

<form method="POST" action="/songs">
  Name: <input type="text" name="Name">
  Artist: <input type="text" name="Artist Name">


<h2> Genres </h2>
<% Genre.all.each do |genre| %>
  <%=genre.name%><input id="<%= genre.name %>" type="checkbox" name="genres" value="<%= genre.id %>">
<% end %>
<input type="submit" value="Create">
</form>
