<h1>Create a new Song</h1>

<form action="/songs" method="POST">
  <label>Song Name:</label><br>

  <input type="text" id="song[name]" name="song[name]"><br>

  <%@artists.each do |artist|%>
    <input type="radio" name="song[artist_ids][]" value="<%=artist.id%>" id="<%=artist.id%>"><%=artist.name%></input>
  <%end%>

  <br>

    <label>...or, create a new artist:</label><br>
    <label>Artist Name:</label>
      <input  type="text" name="artist[name]"></input><br>
  <button type="submit" value="Create Song">Create Song</button>
</form>
