<h1>New Song</h1>
<form method="POST" action="/songs">
<div>
  <label for "Name">Name: </label>
  <input type="text" name="name" id="Name">
</div>
<div>
  <label for "Artist Name">Artist: </label>
  <input type="text" name="artist_name" id="Artist Name">
</div>
<div>
  <label for "genre">Genre:</label>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="song[genres][]" value="<%=genre.id%>" id="<%=genre.name%>"> <%=genre.name%> </input>
  <% end %>
</div>
  <input type="submit" value="Create">
</form>
