<h1>Create a New Song</h1>

<form action="/songs" method="post">
  <label>Name:</label>
    <input type="text" name="song[name]">
  <br></br>
  <label>Artist:</label>
    <input type="text" name="song[artist]">
  <%Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>
</form>
