<h1>Add New Song</h1>
<form action="/songs" method="post">
  <p>Song Name: <input type="text" name="Name"></p>
  <p>Artist Name: <input type="text" name="Artist Name"></p>
  <h2>Genre(s)</h2>
  <% Genre.all.each do |genre| %>
  <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>">
    <%= genre.name %>
  </input>
  <% end %>
  <br></br>
  <input type="submit" name="submit" value="Create">

</form>
