<h1>Add a New Song!</h1>

<form method="POST" action="/songs/new">
  
  <label for="name"> Artist Name: </label>
  <input id="name" type="text" name="Artist Name"><br>

  <label for="song"> Song name: </label>
  <input id="song" type="text" name="Name"><br>

  <label for="genre"> Genre: </label> <br>
  <% Genre.all.each do |genre| %>
 
  <%=genre.name%><input id="<%=genre.name%>" type="checkbox" name="genre[]" value="<%= genre.name %>">
  <% end %>

  <input type="submit" value="Create">

</form>
