<h3><%= @song.name %></h3>

<p><%= @song.artist.name %></p>

<p><% if @song.genres.length > 1 %>
      Genres:
        <% @song.genres.each do |genre| %>
          | <%= genre.name %> | 
        <% end %>
   <% else %>
      Genre: <%= @song.genres.first.name %>
   <% end %>
</p>
