<html>
<head>
  <title>Show</title>
</head>
 <body>

   <h1>Song Detail</h1>
  <p>
    <h2>Artist: </h2>
   <%= @song.artist.name %>
  </p>

  <p>
    <h2>Genre: </h2>
 <%@song.song_genres.each do |s|%>
    <%= s.genre.name %>
  <%end%>
  </p>
 </body>
</html>
