<h1>song_name</h1> <%= @song.name %>
<br>
<h1>artist_name</h1> <%= @song.artist.name %>
<br>
<% Genre.all.each_with_index do |genre,index| %>
  <h1>genre_<%=index+1%>_name</h1> <%= genre %>
<% end %>
