<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @song.name %></title>
  </head>
  <body>
    <h2><%= @song.name %> by: <%= @song.artist.name %></h2>
    <h3>Genres:</h3>
    <% @song.genres.each do |genre| %>
      <p><%= genre.name %></p>
    <% end %>
  </body>
</html>
