

<h1> The artist of the song (and it's corresponding genre) you have selected is:</h1>
<label><a href="/artists/<%=@song.artist.slug %>"> <%=@song.artist.name %></a></label>
<% @song.genres.each do |g| %>
  <a href="/genres/<%= g.slug %>"><%= g.name %> </a>
 <% end %>
