songs/show.erb

<h2><label> Song Name: <%= @song.name %> </label></h2>
<h3> Artist Name: <a href='/songs/#{@song.slug}' > <%= @song.artist.name %> </h2>
<h3> Genre: <%= @song.genre %> </h3>

#Need to add all the items in the form.
