<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @song.name %></title>
    <h2><%= @song.name %></h2>
  </head>
  <body>
    <h3>By: <%= @song.artist.name %></h3>
    <h3>Genre: <%= @song.genres.name %></h3>
  </body>
</html>
