<!-- <!DOCTYPE html>
<html>
<head>
</head>

<body> -->
  <!-- <%@song.each do |song|%>
      <%if song.slug == params["slug"]%>
        <%@artist_instance = Artist.find(song.artist_id)%>
        <a href="/artists/<%=@artist_instance.slug%>"><%=@artist_instance.name%></a>
      <%end%> -->

      <!-- <%@genres_instance = song.genres%>
      <% @genres_instance.each do |attribute|%>
        <%=attribute.name%>
           /genres/<%=@genre_name.slug%>
      <%end%> -->
  <!-- <%end%> -->
<!-- </body>
</html> -->
