

<h1>Artist Name : <%=@artist.name%></h1>

<h4>Songs : <%@songartists.each do |song|%>
            <%=song%> </h4>

            <%end%>
<h4>Genres : <%@genreartists.each do |genre|%>
                        <%=genre%> </h4>
                        <%end%>
