

<%@artist.songs.each do |song|%>
  <%=song.name%><a href='/songs/<%=song.slug%>'>LINK</a>
<%end%>

<%@artist.genres.each do |genre|%>
  <%=genre.name%><a href='/genres/<%=genre.slug%>'>LINK</a>
<%end%>
