<!DOCTYPE html>
<html>
  <head>
    <title>Artists</title>
  </head>
  <body>
    <h3> Artist List </h3>
    <%Artist.all.each_with_index do |artist, i|%>
    <p><%=i+1%>. <%=artist.name%></p>
    <p><a href="/artists/<%=artist.slug%>">More Information</a>
    <%end%>
  </body>
</html>
