<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artists</title>
  </head>
  <body>
    <% @artists.each do |artist| %>
      <h4><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></h4>
    <% end %>
  </body>
</html>
