<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Genres</title>
  </head>
  <body>
    <% @genres.each do |genre| %>
      <h4><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></h4>
    <% end %>
  </body>
</html>
