<html>
<head>
  <meta charset="UTF-8">
  <title>Playlister</title>
</head>
<body>
  <h1>Welcome to Playlister</h1>
  <h4><a href="/songs">See All Songs</a></h4>
  <h4><a href="/artists">See All Artists</a></h4>
  <h4><a href="/genres">See All Genres</a></h4>
</body>
</html>
