<h1>Welcome to Sinatra Playlister</h1>

<h3>Click <a href="/artists">Here</a> to View Artists</h3>
<h3>Click <a href="/songs">Here</a> to View Songs</h3>
<h3>Click <a href="/genres">Here</a> to View Genres</h3>