Welcome to Playlister


<p> <a href="/songs/new">Create new song</a><br> <a href="/songs/index">See all songs</a><br>
  <a href="/genres/index">See all genres</a><br> <a href="/artists/index">See all artists</a>
