<h1>Hello, welcome to Playlister.</h1>
<h2>Ready for some tunes?</h2>

<h3>Menu</h3>

  <p><a href='/songs'>View All Songs</a></p>
  <p><a href='/artists'>View All Artists</a></p>
  <p><a href='/genres'>View All Genres</a></p>
  <p><a href="/songs/new">Save a New Song</a></p>
