<h1>Welcome to Playlister</h1>
<h3>Choose your starting list:</h3>
<ul>
  <li><a href="/songs">Song Index</a></li>
  <li><a href="/artists">Artist Index</a></li>
  <li><a href="/genres">Genre Index</a></li>
</ul>