<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Welcome to the Playlistr</title>
</head>
<body>
  <h1>Welcome to the Playlistr</h1><br>
  <h2>How would you like to jam?</h2><br>
    <h3><a href="/artists">Jam by Artist</a></h3>
    <h3><a href="/songs">Jam by Song</a></h3>
    <h3><a href="/genres">Jam by Genre</a></h3>
</body>
</html>