<h1>Playlister: Organize Your Music Library!</h1>

<h2>Main Menu</h2>
<ul>
  <li><a href="/songs/new">Add a New Song</a></li>
  <li><a href="/songs">All Songs</a></li>
  <li><a href="/artists">All Artists</a></li>
  <li><a href="/artists">All Genres</a></li>
</ul>
