<a href="/artists" class="list-item"><img src="/images/arrow.png"/><span>Artists</span></a>
<a href="/genres" class="list-item"><img src="/images/arrow.png"/><span>Genres </span></a>
<a href="/songs" class="list-item"><img src="/images/arrow.png"/><span>Songs</span></a>
<a href="/songs/new" class="list-item"><img src="/images/arrow.png"/><span>Add Song</span></a>
