
    <h1>Welcome to Playlister!</h1>
    <a href="/artists">
      <h3>Check Out Artists</h1>
    </a>
    <a href="/songs">
      <h3>Check Out All Songs</h1>
    </a>
    <a href="/genres">
      <h3>Check Out All Genres</h1>
    </a>
    <br>
