<h1>Welome to Playlister!</h1>

<h4>Menu</h4>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs"> All the Songs</a></li>
  <li><a href="/artists"> All the Artists</a></li>
  <li><a href="/genres"> All the Genres</a></li>
</ul>
