<h4>Menu</h4>

<ul>
  <li><a href="/songs/new">Make a new song</a></li>
  <li><a href="/songs">See all the songs</a></li>
  <li><a href="/artists">See all the artists</a></li>
  <li><a href="/genres">See all genres</a></li>
</ul>