<h3>Playlist</h3>

<p>Choose one:</p>

<a href="/songs/new"> Create a new song </a>
<br><a href="/artists"> List the artists </a></br>
<br><a href="/songs"> List the songs </a></br>
<br><a href="/genres"> List the genres </a></br>
