<h1>Welcome to Playlister</h1>
<a class="btn btn-default" href='/songs' role='button'>See All Songs</a>
<a class="btn btn-default" href='/artists' role='button'>See All Artists</a>
<a class="btn btn-default" href='/genres' role='button'>See All Genres</a>
