<h1>Welcome to Playlister!</h1>

<h3>Menu</h3>

<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">View All the Songs</a></li>
  <li><a href="/artists">View All the Artists</a></li>
  <li><a href="/genres">View All the Genres</a></li>
</ul>
