<h1>Welcome to the Sinatra Playlister!</h1>

<nav>
  <ul>
    <li><a href="/songs">Click here to view the songs.</a></li>
    <li><a href="/artists">Click here to view the artists.</a></li>
    <li><a href="/genres">Click here to view the genres.</a></li>
  <ul>
</nav>