<h1>Welcome to Playlister!</h1>

<h3>Click on the link below to select:</h3>

<ul>
  <li><a href="/songs/new">Create a new Song</a></li>
  <li><a href="/songs">View All Songs</a></li>
  <li><a href="/artists">View All Artists</a></li>
  <li><a href="/genres">View All Genres</a></li>
</ul>
