<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Music Playlister</title>
</head>
<body>
	
	<h1 align="center">Welcome to Playlister!</h1>
	<div align="center">
	<br><br>

		<h2><a href="/artists">Artists</h2><br>
		<h2><a href="/songs">Songs</h2><br>
		<h2><a href="/genres">Genres</h2><br>
	</div>
	
</body>
</html>

