<h1>Welome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Add A Song</a></li>
  <li><a href="/songs">See Songs</a></li>
  <li><a href="/artists">See Artists</a></li>
  <li><a href="/genres">See Genres</a></li>
</ul>