<h2><em>Playlister</em></p></h2><br>

<ul>
  <li><p class="lead"><a href="/artists">Artist</a></p></li>
  <li><p class="lead"><a href="/songs">Songs</a></p></li>
  <li><p class="lead"><a href="/genres">Genres</a></p></li>
  <li><p class="lead"><a href="/songs/new">Create Song</a></p></li>
</ul>
