<h1>Welome to Playlister!</h1>
<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">New Song</a></li>
  <li><a href="/songs">Songs</a></li>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/artists">Genres</a></li>
</ul>
