<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Playlister Lab</title>
</head>
<body>
  <h1>Main Index</h1>
  <h6>views/index.erb</h6>
  <a href="/"><p>Main Page</p></a>
    <hr>
    <a href="/songs"><h3>Songs</h3></a>
    <br>
    <a href="/genres"><h3>Genres</h3></a>
    <br>
    <a href="/artists"><h3>Artists</h3></a>
    <br>
    <hr>
    <a href="/songs/new"><h3>Songs:New</h3></a>
    <br>
    <a href="/songs/:slug/edit"><h3>Songs:Edit</h3></a>
    <br>
    <hr>
    <a href="/songs/:slug"><h3>Songs:Slug</h3></a>
    <br>
    <a href="/genres/:slug"><h3>Genres:Slug</h3></a>
    <br>
    <a href="/artists/:slug"><h3>Artists:Slug</h3></a>
    <br>
  </body>
</html>
