<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Playlister Lab</title>
  </head>
  <body>
    <h1>Index.erb</h1>
    <a href="/songs">Songs</a>
    <br>
    <a href="/genres">Genres</a>
    <br>
    <a href="/artists">Artists</a>
    <br>
    <a href="/songs/:slug">Songs: Slug</a>
    <br>
    <a href="/genres/:slug">Genres: Slug</a>
    <br>
    <a href="/artists/:slug">Artists: Slug</a>
    <br>
    <a href="/songs/new">Songs: New</a>
    <br>
    <a href="/songs/:slug/edit">Songs: Edit</a>
    <br>
  </body>
</html>
