<h1> Welcome to the Playerlister! </h1>

<h3>Menu</h3>
<ul>
  <li><a href="songs/new">Make New Song</a></li>
  <li><a href="/songs">See Your Songs</a></li>
  <li><a href="/artists">See Your Artists</a></li>
  <li><a href="/genres">See Your Genres</a></li>
</ul>
