<h1>Welcome to Playlister!</h1>
<p><a href="/artists">Click to view artists</a></p>
<p><a href="/genres">Click to view genres</a></p>
<p><a href="/songs">Click to view songs</a></p>
<p>
  OR
</p>
<p><a href="/songs/new">Add a new song to your library!</a></p>
