<h2 class="f2">Sinatra Playlister</h2>

<div class="pa1 lh-copy">
  <a class="f4 fw6 db black link hover-hot-pink" href="/songs">List Songs</a>
  <a class="f4 fw6 db black link hover-hot-pink" href="/artists">List Artists</a>
  <a class="f4 fw6 db black link hover-hot-pink" href="/genres">List Genres</a>
</div>
