<h1>Welome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Add a New Song</a></li>
  <li><a href="/songs">See All Songs</a></li>
  <li><a href="/artists">See All Artists</a></li>
  <li><a href="/genres">See All Genres</a></li>
</ul>
