<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Songs, Artists and Genres</title>
  </head>
  <body>
    <h1>Flatiron Playlister App</h1>
    <h2>Create / View / Modify Songs and their Artists and Genres</h2>
    <ul>
      <li><a href="/songs">Songs</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/genres">Genres</a></li>
    </ul>
  </body>
</html>
