<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Here is a list of all available songs:</h1>
	<%@songs.each do |song| %>
	<h2><%=song.name%></h2>
	<% end %>

</body>
</html>

<h2>Test landing page</h2>