<h1>Main Index Page</h1>

<h1>Welcome to Playlister !</h1>

<a href="/songs">List all the songs</a></br>
<a href="/artists">List all the artists</a></br>
<a href="/genres">List all the genres</a></br>
