<h1>Welcome to Playlister! not a knockoff of other music library software!</h1>
<h3>You are allowed to see all songs, genres, and artists in our collection</h3>
<br>
<h3><a href="/songs">view songs</a>, or, <a href="/songs/new">make a new song</a></h3>
<br>
<h3><a href="/genres">view genres</a></h3>
<br>
<h3><a href="/artists">view artists</a></h3>
