<h1>Welcome to the Playlister! </h1>
<h3>To see songs, click <a href='/songs'> here. </a></h3>
<h3>To see artists, click <a href="/artists">here. </a></h3>
<h3>And finally, to see genres, click <a href="/genres">here.</a></h3>
