<h1>Welcome to the Playlister!</h1>

<h2>Menu</h2>
<ul>
  <li><a href="/songs/new">Create a New Song</a></li>
  <li><a href="/songs">List all Songs</a></li>
  <li><a href="/artists">List all Artists</a></li>
  <li><a href="/artists">List all Genres</a></li>
</ul>
