<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Playlister Lab</title>
</head>
<body>
  <span><h1>Main Index</h1><p>views/index.erb</p></span>
  <a href="/"><p>Main Page</p></a>
    <hr>
    <a href="/songs"><h3>Songs</h3></a>
    <br>
    <a href="/genres"><h3>Genres</h3></a>
    <br>
    <a href="/artists"><h3>Artists</h3></a>
    <br>
    <a href="/songs/new"><h3>Create a new Song</h3></a>
    <br>
    <hr>
  </body>
</html>
