<h1>Welcome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Create a New Song</a></li>
  <li><a href="/songs">See Song List</a></li>
  <li><a href="/artists">See Artist List</a></li>
  <li><a href="/artists">See Genre List</a></li>
</ul>
