
<h1>Welome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">See all the Songs</a></li>
  <li><a href="/artists">See all the Artists</a></li>
  <li><a href="/artists">See all the Genres</a></li>
</ul>
