<h1>Hello, welcome to Playlister</h1>
<h3>Select from the options below:</h3>

<div>
  <ul>
    <li>
      <a href="/artists">Artists</a>
    </li>
    <li>
      <a href="/songs">Songs</a>
    </li>
    <li>
      <a href="/genres">Genres</a>
    </li>
  </ul>
</div>