<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playlister</title>
  </head>
  <body>
<h1>Playlister</h1>

<h2><a href="/artists">Artists</a></h2>
<h2><a href="/genres">Genres</a></h2>
<h2><a href="/songs">Songs</a></h2>

  </body>
</html>
