<h2>Welome to Playlister!</h2>

<h3>Menu Options</h3>
<ul>
  <li><a href="/artists">Artist List</a></li>
  <li><a href="/songs">Song List</a></li>
  <li><a href="/genres">Genre List</a></li>
  <li><a href="/songs/new">Add New Song</a></li>
</ul>