<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Artists List</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>

  <h1>Welome to Playlister!</h1>

  <h3>Menu</h3>
  <ul>
    <li><a href="/songs/new">Add a New Song</a></li>
    <li><a href="/songs">Show All Songs</a></li>
    <li><a href="/artists">Show All Artists</a></li>
    <li><a href="/genres">Show All Genres</a></li>
  </ul>
 </body>
</html>
