<h2>Welome to the Playlister!</h2>

<h3>Menu</h3>
<ol>
  <li><a href="/songs/new">You can make a New Song</a></li>
  <li><a href="/songs">You can see all the Songs</a></li>
  <li><a href="/artists">You can see all the Artists</a></li>
  <li><a href="/genres">You can see all the Genres</a></li>
</ol>
