<h1>Welcome to Playlister!</h1>

<h3>Main Menu</h3>
<ul>
  <li><a href='/songs/new'>Make a new song</a></li>
  <li><a href='/songs'>See all the songs</a></li>
  <li><a href='/artists'>See all the Artists</a></li>
  <li><a href='/genres'>See all the Genres</a></li>
</ul>