
<h1>Welcome to Ben's Amazing Playlister</h1>

<a href="/songs"> Check out All the songs!<a> <br/>
<a href="/genres"> Check out All the genres!<a> <br/>
<a href="/artists"> Check out All the artists!<a> <br/>
