<!DOCTYPE html>
<html>
<head>
  <title>Playlister App</title>
</head>
<body>
  <h1>Playlister App</h1>
  <h3><a href="/songs/new">Create New Song</a></h3>
  
  <h3><a href="/songs">All Songs</a></h3>

  <h3><a href="/artists">All Artists</a></h3>

  <h3><a href="/genres">All Genres</a></h3>

</body>
</html>