<h1>Welome to Playlister!</h1>

 <h3>What would you like to do?</h3>
<ul>
  <li><a href="/songs/new">Add A Song</a></li>
  <li><a href="/songs">View all Songs</a></li>
  <li><a href="/artists">View all Artists</a></li>
  <li><a href="/genres">View all Genres</a></li>
</ul>
