<h1>Welcome to Playlister!</h1>

<h2>Pick from the menu below:</h2>
<ul>
  <li><a href="/songs/new">Add a New Song</a></li><br>
  <li><a href="/songs">All Songs</a></li><br>
  <li><a href="/artists">All Artists</a></li><br>
  <li><a href="/genres">All Genres</a></li><br>
</ul>
