<h1> Welcome to the Playlister App! </h1>
<br></br>
<h3> Menu </h3>
<ul>
  <li><a href="/songs/new/"> Add a New Song </a></li>
  <li><a href="/songs/index"> View All Songs</a></li>
  <li><a href="/artists/index"> View All Artists</a></li>
  <li><a href="/genres/index"> View All Genres</a></li>
</ul>