<h1>Welcome to PlayLister</h1>

<h3>Please select from the following options:</h3>

<ul>
  <li><a href='/songs/new'>Make a New Song</a></li>
  <li><a href='/songs'>List All Songs</a></li>
  <li><a href='/artists'>See All Artists</a></li>
  <li><a href='/artists'>See All Genres</a></li>
</ul>