<h1>Welcome to Your "PlayLister" Library Menu"</h1>

<h2>Click <a href= "/artists">Here</a> For A List of Your Artists</h2>

<h2>Click <a href= "/songs">Here</a> For A List of Your Songs</h2>

<h2>Click <a href= "/genres">Here</a> For A List of Your Genres</h2>

<h2>Cick <a href= "/songs/new">Here</a> To Make A New Song</h2>
