<h1>Welcome to Playlister!</h1>
  <h2>Browse</h2>

    <h3><a href="/songs">Songs</a></h3>
    <h3><a href="/artists">Artists</a></h3>
    <h3><a href="/genres">Genres</a></h3>

    <br></br>

  <h2>Create</h2>
    <h3><a href="/songs/new">Add New Songs</a></h3>
    
