<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Playlister</title>
  </head>

  <body>
<h1>Sinatra Playlister</h1>
<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">View All  Songs</a></li>
  <li><a href="/artists">View All Artists</a></li>
  <li><a href="/genres">View All Genres</a></li>
</ul
  </body>
</html>
