<h1>Welcome to Playlister!</h1>
<br><br>
<h3>Choose what you would like to do:</h3>
<form action="/songs" method="post">
  <ul>
    <li><a href="/songs/new">Create a new song</a></li>
    <li><a href="/songs">See list of songs</a></li>
    <li><a href="/artists">See list of artists</a></li>
    <li><a href="/genres">See list of genres</a></li>
  </ul>
</form>
