<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <h1>Welcome to Playlister</h1>
    <h3><a href="/songs"> List all songs</a></h3>
    <h3><a href="/artists"> List all artists</a></h3>
    <h3><a href="/genres"> List all genres</a></h3>
  </body>
</html>
