<html>
  <ul>
    <li><a href="/songs/new">Make a New Song</a></li>
    <li><a href="/songs">See All the Songs</a></li>
    <li><a href="/artists">See All the Artists</a></li>
    <li><a href="/artists">See All the Genres</a></li>
  </ul>
</html>