<h1>Welcome to Playlister</h1>
<h3>menu</h3>
<ul>
<li><a href="/songs/new">Make a new song</a></li>
<li><a href="/songs">See all the songs</a></li>
<li><a href="/artists">See all the artists</a></li>
<li><a href="/artists">See all the genres</a></li>
</ul>
