
<ul>
  <li><a href="/artists">Artists Page</a>  </li>
  <li><a href="/songs">Songs Page</a>
    <ul><li><a href="/songs/new">Create a new Song</a></li></ul>
  </li>
  <li><a href="/genres">Genres Page</a></li>
</ul>
