
<h1> Playlister ! </h1>

<h3> Menu </h3>
<ul>
  <li><a href="/songs/new"> Make that new Hit !  </a></li>
  <li><a href="/songs"> Check these popular songs </a></li>
  <li><a href="/artists"> Check out these great artists </a></li>
  <li><a href="/artists"> See all the genres</a></li>
</ul>
