<h1>Welcome Music Lovers! This is music from the planet Earth!</h1>
<h2>What would you like to do?</h2>
<h3><a href='/songs/new'>Make a New Song</a></h3>
<h3><a href='/songs'>List of All Songs</a></h3>
<h3><a href='/artists'>List of All Artists</a></h3>
<h3><a href='/genres'>List of All Genres</a></h3>
