<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Playlister Lab</title>
  </head>
  <body>
    <h1>Index.erb</h1>
    <a href="/songs">Songs</a>
    <br>
    <a href="/genres">Genres</a>
    <br>
    <a href="/artists">Artists</a>
    <br>
    <!-- <a href="/songs/:slug">Songs: Slug</a>
    <br>
<<<<<<< HEAD
    <a href="/genres/:slug">Genres: Slug</a>
    <br>
    <a href="/artists/:slug">Artists: Slug</a>
=======
    <a href="/genres">Genres: Slug</a>
    <br> -->
    <a href="/artists/show">Artists: Slug</a>
>>>>>>> 4d182c90dc53a0b783e58a4e9487a2f8114fc339
    <br>
  </body>
</html>
