<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">See All Songs</a></li>
  <li><a href="/artists">See All Artists</a></li>
  <li><a href="/artists">See All Genres</a></li>
</ul>
