<h1>Playlister!</h1>

<ul>
  <li><a href="/songs/new">New Song</a></li>
  <li><a href="/songs">All Songs</a></li>
  <li><a href="/artists">All Artists</a></li>
  <li><a href="/artists">All Genres</a></li>
</ul>
