<h1>Welcome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Make a New Song</li>
  <li><a href="/songs">See All the Songs</li>
  <li><a href="/artists">See All the Artists</li>
  <li><a href="/genres">See All the Genres</li>
</ul>
