
<h1>Hi, Welcome to Pete's Playlist</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">New Song</a></li>
  <li><a href="/songs">All Songs</a></li>
  <li><a href="/artists">All Artists</a></li>
  <li><a href="/genres">All Genres</a></li>
</ul>