<h1>Welcome to the Super Rad Music Library </h1>
<h1><i>Playlister!!!!</i></h1>

<h2>What would you like to do today?</h2>
<ul>
  <li><a href="/songs">See All Songs</a></li>
  <li><a href="/songs/new">Add a New Song</a></li>
  <li><a href="/artists">See All Artists</a></li>
  <li><a href="/genres">See All Genres</a></li>
</ul>
