<h1>Welcome to Playlister!</h1>
<h3>What would you like to do?</h3>
<ul>
  <li><a href="/songs/new">Make a new song</a></li>
  <li><a href="/songs">See a list of all the songs</a></li>
  <li><a href="/artists">See a list of all the artists</a></li>
  <li><a href="/genres">See a list of all the genres</a></li>
</ul>
