Main index page

<br></br>
<a href="/artists">All Artists</a>

<br></br>
<a href="/songs">All Songs</a>
<br></br>
<a href="/genres">All Genres</a>
<br></br>
Create new Song/Artist:
<br></br>
<form action="/songs/new">
<input type="submit" value="Create Song"></input>
</form>