<h1>Welcome to Sinatra Playlister</h1>

<h3>Select from options:</h3>
<ul>
  <li><a href="/songs/new">Add Song</a></li>
  <li><a href="/songs">View Songs</a></li>
  <li><a href="/artists">View Artists</a></li>
  <li><a href="/genres">View Genres</a></li>
</ul>
