<h1>Welcome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Add a New Song</a></li>
  <li><a href="/songs">Add a New Song</a></li>
  <li><a href="/artists">See all Artists</a></li>
  <li><a href="/artists">See all Genres</a></li>
</ul>