<h1>Welcome to Playlister!</h1>

<ul>
    <li><a href="/songs"> List All Songs </a></li>
    <li><a href="/songs/new"> Create A Song </a></li>
    <li><a href="/artists"> List All Artists </a></li>
    <li><a href= "/genres"> List All Genres </a></li>
</ul>