<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <h3>What would you like to see?</h3>

  <br></br>

  <a href = "/songs">Songs</a>
  <a href = "/artists">Artists</a>
  <a href = "/genres">Genres</a>

  <body>
  </body>

</html>
