<h1> Welcome to The Sinatra Playlister! </h1>

<a href="/songs">Click Here to View a List of Songs</a><br/>
<a href="/artists">Click Here to View a List of Artists</a><br/>
<a href="/genres">Click Here to View a List of Genres</a><br/>