<h1>Welcome to the PlayLister</h1>

<h2>What would you like to do today<br>
  Click on one of the Links below to Proceed</h2><br>

  <h3><a href="/songs/new">Make a new Song</a><br><br>
  <a href="/songs">To see all Songs</a><br><br>
  <a href="/artist/new">Make a new Artist</a><br><br>
  <a href="/artist">To see all Artists</a><br><br></h3>
