<h1><em>Playlister</em></h1>

<ul>
  <li class="lead"><a href="/artists">Artists</a></li><br>
  <li class="lead"><a href="/songs">Songs</a></li><br>
  <li class="lead"><a href="/genres">Genres</a></li><br>
  <li class="lead"><a href="/songs/new">Create Song</a></li><br>
</ul>
