<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <div><a href="/songs">Songs</a> | <a href="/artists">Artists</a> | <a href="/genres">Genres</a></div>
    <%= yield %>
  </body>
</html>
