<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
 	<a href="/songs">songs </a>
 	<a href="/artists">artists</a>
 	<a href="/genres">genres</a>
 </nav>
    <%= yield %>
  </body>
</html>