<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a> -- <a href="/songs">Songs</a> -- <a href="/artists">Artists</a> -- <a href="/genres">Genres</a>

    <%= yield %>
  </body>
</html>
