<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <div>
      <a href="/">Home</a>
      <a href="/songs">Songs</a>
      <a href="/artists">Artists</a>
      <a href="/genres">Genres</a>
    </div>
    <div>
      <a href="/songs/new">Add a New Song</a>
    </div>

    <%= yield %>
  </body>
</html>
