<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <title></title>
  </head>

  <body>
    <h1>What's Up?</h1>
    <%= yield %>
  </body>
</html>
