<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <a href="/">Home</a> or <a href="/songs">Songs</a> or <a href="/artists">Artists</a> or <a href="/genres">Genres</a>
    <%= yield %>
  </body>
</html>
