<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="/javascripts/submit.js"></script>
  </head>

  <body>
    <h1>Music Associations</h1>
    <a href="/songs">Songs</a> |
    <a href="/artists">Artists</a> |
    <a href="/genres">Genres</a> 
    <hr>
    <%= yield %>
  </body>
</html>
