<!DOCTYPE html>
<html>
  <head>
    <title>PlayLister</title>
    <h1>PlayLister</h1>
    <nav>
      <h2>Direct to:</h2>
      <a href="/">Home</a><br>
      <a href="/artists">Artists</a><br>
      <a href="/songs">Songs</a><br>
      <a href="/genres">Genres</a><br>
      <h3>Create New Song</h3>
      <a href="/songs/new">Create New Song</a><br>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
