<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <%= yield %>
  </body>
  <ul>
    <li><a href="/artists">See all Artists</a></li>
    <li><a href="/songs">See all Songs</a></li>
    <li><a href="/genres">See all Genres</a></li>
  </ul>
</html>