<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <nav>
      <a href="/songs">All Songs</a> |
      <a href="/artists">All Artists</a> |
      <a href="/genres">All Genres</a>
    </nav>

    <br>
    
    <%= yield %>
  </body>
</html>
