<!DOCTYPE html>
<html>
  <head>
    <title>Playlister</title>
  </head>

  <body>
    <br></br>
    <button><a href="/artists">All Artists</a></button>  
    <button><a href="/songs">All Songs</a></button>
    <button><a href="/genres">All Genres</a></button> 
    <%= yield %>
    <br></br>
    <button><a href="songs/new">New Song</a></button>
    <button>New Artist</button>
    <button>New Genre</button>
  </body>
      
  
  </html>