<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>

    <%= yield %>
    <% if @success_message %>
    <div id="success" style="border: 2px solid green;">
    <%= @success_message %>
    </div>
  <% end %>
  </body>
</html>
