<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <p>
      <%if flash.has?(:message)%>
        <%=flash[:message]%>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
