<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <br>
    Go back to <a href="/songs">All Songs</a><br>
    Go back to <a href="/artists">All Artists</a><br>
    Go back to <a href="/genres">All Genres</a><br>
</html>
