<!DOCTYPE html>
<html>
  <head>
    <title>Playlister Music App</title>
  </head>

  <body>
    <h3>Playlister Music App</h3>
    <%= yield %>
    
    <br>
    <a class="button" href="/">Home</a> |  |
    <a class="button" href="/artists">Artists</a> |  |
    <a class="button" href="/genres">Genres</a>  |  |  
    <a class="button" href="/songs/new"> New Song</a>
  </body>
</html>