<!DOCTYPE html>
<html>
  <head>
    <title>Playlister; not a copyright violation at all.</title>
  </head>

  <body>
    <header>
      <h3>{<a href='/'>Home</a>}</h3>
      <h4>{<a href='/songs'>Songs</a>;<a href='/songs/new'>(create new)</a>} {<a href='/artists'>Artists</a>;} {<a href='/genres'>Genres</a>;} </h4>
    </header>
    <%= yield %>
  </body>
</html>
