<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
     <h3>| <a href="/">Home</a> |</h3>
    <%= yield %>
  </body>
</html>
