<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sinatra Playlister Lab</title>
  </head>

  <body>
    <%= yield %>
    </br>
    <div>
      <footer>
        <a href="/">Home Page</a>
      </footer>
    </div>
  </body>
</html>

