<!DOCTYPE html>
<html>
  <head>
    <title></title>
<<<<<<< HEAD
=======
    <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
>>>>>>> 68ce20e6a6efb0bdfdd9b5378c368d4b3b09b043
  </head>

  <body>
    <%= yield %>
  </body>
</html>
