<form action="/songs/:slug" method="post">
  <label for="song_name">Name</label>
  <input type="text" name="song_name" id="song_name">

  <label for="genre_1">New Age Garbage</label>
  <input type="checkbox" name="genre" id="genre_1" value="New Age Garbage">

  <label for="genre_2">Hippity Hop</label>
  <input type="checkbox" name="genre" id="genre_2" value="Hippity Hop">

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist_name" id="artist_name">

  <input type="submit" name="submit" value="Create">
</form>
