<h1>Make a New Song</h1>
<form class="" action="/songs" method="POST">
  <p>Name<input type="text" name="Name" id="Name"></p>
  <h2>Genre(s)</h2>
  <% @genres.each do |g| %>
  <input type="checkbox" name="<%= g.name %>" value="<%=g.id%>" id="<%=g.id%>"><%=g.name%></input>
  <% end %>
  <h2>Artist</h2>
  <p><input type="text" name="Artist Name" value=""></p>
  <input type="submit" name="Create" id="Create" value="">
</form>
