<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Songs</title>
  </head>
  <body>
    <% @songs.each do |song| %>
      <h4><a href="/songs/<%= song.id %>"><%= song.name %></a></h4>
    <% end %>
  </body>
</html>
