Create a New Song!!!@#!@#!@

<form action="songs/new" method="post">
  <label for="song">Song</label>
  <input type="text" name="song" id="song">
  <label for="artist">Artist</label>
  <input type="text" name="artist" id="artist">
</form>
