<form method="POST" action="/songs">
  <label>Song's name:<input type='text' name="song_name"></label>
  <label>Artist's name:<input type='text' name="artist_name"></label>
  <label>Genre list:<input type='text' name="genre_name"></label>
  <input type="submit" value"Create new song">
</form>